﻿<template #popoverMarkup>
  <div [innerHTML]="popOverHTML">
  </div>
</template>
<a href="#" [ngClass]="getLinkClass()"
    (click)="false;"
    [wmpopover]="popoverMarkup"
    (onShown)="popupShown()"
    popoverTitle="{{popOverTitle}}"
    placement="{{popOverPosition}}">
    <span *ngIf="(linkText.length > 0)">{{ linkText }}</span>
    <span *ngIf="(screenReaderText.length > 0)" class="sr-only">{{ screenReaderText }}</span>
</a>