@import '../../../../styles/bootstrap/variables';

.accordion-tab {
    margin-top: 10px;
    width: 100%;

    .accordion-header {
        background-color: white;
        border-radius: 6px;
        font-size: 22px;
        font-weight: 600;
        color: @brand-primary;
        line-height: 1.3;
        position: relative;

        &.show {
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        button {
            background-color: transparent;
            border: 0;
            width: 100%;
            padding: 20px 80px 20px 30px;
            text-align: left;

            &:focus {
                outline: medium solid @input-border-focus;
            }
        }

        span {
            position: absolute;
            top: 20px;
            right: 30px;
            font-size: 30px;
            pointer-events: none;
        }
    }
    .accordion-content {
        overflow-y: hidden;
        background-color: white;
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
        padding: 20px 30px;
    }
}