﻿<div class="accordion-tab" [class.show]="show">
    <div class="accordion-header clearfix" [class.show]="show">
        <span aria-hidden="true" [ngClass]="{ 'icon-wmkCircleArrowUp': show, 'icon-wmkCircleArrowDown': !show }"></span>
        <button (click)="toggle()"
                [attr.id]="id + '-heading'"
                [attr.aria-expanded]="show"
                [attr.aria-controls]="id">
            {{header || " "}}
        </button>
    </div>
    <div class="accordion-content"
         [@show]="show"
         [attr.id]="id"
         [attr.aria-labelledby]="id + '-heading'"
         [attr.aria-expanded]="show"
         [attr.aria-hidden]="!show"
         role="region">
        <ng-content></ng-content>
    </div>
</div>