<label>
  {{ componentLabelText }}
  <div class="select-wrapper" >
    <select disabled="disabled" class="form-control" id="selectCountry"  (change)="sendToParent($event)" >
      <option *ngFor="let country of countries" [selected]="selectedCountry === country.countryValue" [value]="country.countryValue" >{{ country.countryName }}</option>
    </select>
    <span class="arrow" aria-hidden="true"><i class="icon-wmkCaretDown"></i></span>
  </div>
</label>
  <div *ngIf="errorMessage.length > 0" id="divCountryError" aria-hidden="true" class="help-block with-errors" style="display: block;">
    <span class="icon-warning" aria-hidden="true"></span>
    <span id="spnCountryError">{{ errorMessage }}</span>
  </div>