<div *ngIf="(mainDSC)" class="panel">   
  <p class="error-text">You are not authorized to access this content.  If you feel you received this message in error, contact the Designated Security Coordinator (DSC) for your organization.  If you are not able to reach your DSC or no DSC info is available, call us at (800) 407-0267.</p>
  <p class="error-text">Group Name: {{ mainDSC.organizationName}} </p>
  <p class="error-text">Main DSC: {{ mainDSC.fullName }}</p>
  <p class="error-text">Main DSC email: {{ mainDSC.emailAddress }}</p>
</div>  