@import "../../../node_modules/bootstrap/less/badges.less";

.badge {    
    padding: 3px 9px 5px 9px;
    border-radius: 16px;

    // Superscript
    &.sup {
        position: relative;
        top: -8px;
    }

    // Color Variations
    &.blue {
        background: @brand-primary;
    }
    &.darkblue {
        background: @brand-darkblue;
    }
    &.bluegray {
        background: @brand-bluegray;
    }
    &.turquoise {
        background: @brand-turquoise;
    }
    &.green {
        background: @brand-green;
    }
    &.purple {
        background: #8d2a96;
    }
    &.fuchsia {
        background: @brand-fuchsia;
    }
    &.red {
        background: @brand-danger;
    }
    &.orange {
        background: @brand-orange;
    }

    .badge-text {
        font-size: 16px;
        line-height: 1;
        vertical-align: middle;
    }
}