@import "../../../node_modules/bootstrap/less/buttons.less";

//
// Bootstrap Buttons Overrides
// --------------------------------------------------

.btn {
	border: 0 none;
	padding: 9px 30px;
	font-size: 16px;
	border-radius: 4px;

	&,
	&:active,
	&.active {
		&:focus,
		&.focus {
			.tab-focus();
		}
	}

	&.btn-preload {
		&,
		&:active,
		&.active {
			position: relative;
			border-color: transparent;
	    	background-color: transparent; .box-shadow(none);
	    	color: transparent;
			cursor: wait !important;

			&:focus,
			&.focus {
				.tab-focus(none);
			}
		}

		&:after {
			position: absolute; display: block; content: '';
			top: 0; right: 0; bottom: 0; left: 0;
			background: transparent url(../../assets/img/preloader-button.gif) no-repeat center center;
      		background-size: auto 100%;
			visibility: visible;
		}
	}

	&.btn-lg {
		font-size: 18px;
		padding: 13px 30px;
	}

}

a.btn{
	&,
	&:hover {
		text-decoration: none !important;
	}

	&.btn-link {
		&,
		&:hover {
			text-decoration: underline !important;
		}
	}

	.icon-wmkExternalLinkSmall,
	.icon-wmkExternalLinkBig {
			position: relative;
			margin-bottom: 3px;
			margin-left: 2px;
			margin-right: -5px;
			display: inline-block;
			line-height: 0;
			vertical-align: middle;
		}
}

.btn-default,
.btn-primary,
.btn-secondary,
.btn-search-form,
.btn-login,
.btn-register,
.btn-nav-primary {
	font-family: @font-family-sans-serif; text-transform: uppercase;
}

.btn-default {
	&:hover,
	&:focus,
  	&:active,
	&:active:focus {
    	color: darken(@btn-default-color, 10%);
  }
}
.btn-nav-primary,
.btn-search-form {
	.button-variant(#fff; @nav-primary-btn-bg; @nav-primary-btn-bg);
}

.btn-filter {
	.button-variant(@gray-dark-alt; #fff; @gray-stroke);
	border-style: solid;
	border-width: 2px;
	box-sizing: border-box;
	min-width: 156px;
	width: auto;
	text-align: left;
	border-radius: 4px;

	.caret {
		position: absolute;
		right:6px;
		top:50%;
		margin-top: -1px;
		color: @brand-primary;
	}
}

.btn-secondary {
	.button-variant(@brand-primary; #fff; @brand-primary);
	border-style: solid;
	border-width: 2px;
	box-sizing: border-box;
	padding: 7px 28px;

	&:hover,
	&:focus,
	&:active,
	&:active:focus {
		color: darken(@brand-primary, 20%);
	}

	&.btn-lg {
		padding: 11px 30px;
	}
}

.btn-xl {
  .button-size((@padding-large-vertical + 3); (@padding-large-horizontal + 30); @font-size-large; @line-height-large; @btn-border-radius-large);
}

.btn-group-toggle {
	border: 2px solid #ddd;
	border-radius: 4px;

	> .btn {
		padding: 10px 15px;
		&.btn-default {
			color: @gray;
		}
	}
}

button.link {
	color: @brand-primary;
	padding: 0;
	text-decoration: underline;
	border: none;
	background: none;
	&:hover {
		text-decoration: none;
	}
	&:focus {
		.tab-focus();
	}
}