//
// Bootstrap Collapse Overrides
// --------------------------------------------------

.container-fluid > .row {
	&.primary {
		.collapse-content-tile {
			a:not(.btn) {
				color: #0079bc;
			}
		}
	}
}

.collapse-content-tile {
	margin-bottom: 10px; .border-radius(6px);
	background-color: #fff;
	>h4 {
		margin: 0;
		>.btn {
			position: relative; display: block;
			width: 100%;
			padding: 25px 60px 25px 25px;
			background: transparent none;
			color: @brand-primary;
			text-align: left; white-space: normal;

			.text {
				display: block;
				font-weight: @font-weight-sans-serif-condensed-bold; font-size: 20px;
			}

			.icon {
				position: absolute;
				top: 50%; right: 25px; z-index: 5;
				margin-top: -14px;
				font-weight: bold; font-size: 34px;

				.icon-wmkCircleArrowDown();
			}

			&[aria-expanded="true"] {
				.icon {
					.icon-wmkCircleArrowUp();
				}
			}
		}
	}
	.collapse,
	.collapsing {
		padding: 25px;
		font-size: @font-size-semilarge;
		color: @text-color;
	}

	// Medium devices (desktops, 992px and up)
	@media (min-width: @screen-md-min) {
		h4 >.btn {
			padding: 25px 60px 25px 40px;

			.text {
				font-size: 22px;
			}
		}

		.collapse,
		.collapsing {
			padding: 40px;
			font-size: @font-size-large;
		}
	}
}
