@import "../../../node_modules/bootstrap/less/grid.less";

//
// Bootstrap Alerts Overrides
// --------------------------------------------------

// Generate the extra large columns
.make-xl-column(@columns; @gutter: @grid-gutter-width) {
  position: relative;
  min-height: 1px;
  padding-left:  (@gutter / 2);
  padding-right: (@gutter / 2);

  @media (min-width: @screen-xl-min) {
    float: left;
    width: percentage((@columns / @grid-columns));
  }
}
.make-xl-column-offset(@columns) {
  @media (min-width: @screen-xl-min) {
    margin-left: percentage((@columns / @grid-columns));
  }
}
.make-xl-column-push(@columns) {
  @media (min-width: @screen-xl-min) {
    left: percentage((@columns / @grid-columns));
  }
}
.make-xl-column-pull(@columns) {
  @media (min-width: @screen-xl-min) {
    right: percentage((@columns / @grid-columns));
  }
}

.container {
  @media (min-width: @screen-xl-min) {
    width: @container-xl;
  }
}

.make-grid-columns();

// Extra-Large grid
@media (min-width: @screen-xl-min) {
  .make-grid(xl);
}

.container-fluid .row {
	&.default {
		background-color: #fff;
	}

	&.primary {
		background-color: @brand-primary;

		&,
		a:not(.btn) {
			color: #fff;
		}
	}

	&.alt {
		background-color: #f3f3f3; //@gray-lightest
	}
}
