@import "../../../node_modules/bootstrap/less/modals.less";

//
// Modals
// --------------------------------------------------

html.modal-open {
	&,
	body,
	#page {
		width: 100%; height: 100%; overflow: hidden;
	}
}

// Dark Theme
// ------------------------------
.modal.dark {
	background: #333;

	.modal-dialog {
		margin: 0;
	}

	.modal-content {
		height: 100%;
		color: #fff;
		background: @gray-dark;
		border-radius: 0;
		border: none;
		box-shadow: none;
	}

	.modal-header {
		border-bottom: 1px solid @gray;

		.close,
		button.close {
			opacity: 1;
			color: #fff;
			font-weight: 600;
			font-size: 18px;
			text-shadow: none;

			.close-text {
				vertical-align: middle;
				margin-right: 3px;
				text-transform: uppercase;
			}

			.icon-wmkCircleClose {
				font-size: 30px;
				vertical-align: middle;
			}

			&:focus {
				.tab-focus();
			}
		}
	}

	.modal-body {
		> h1 ,h2 ,h3, h4, h5, h6 {
			margin-top: 0;
		}

		.modal-actions {
			margin: 30px 0 0 0;

			.btn {
				width: 100%;
				margin-bottom: 10px;
			}
		}
	}

	
}

// Extra Small devices (phone, 481px and up)
@media screen and (min-width: @screen-xs-min) {
	.modal.dark {
		.modal-body {
			.modal-actions {
				.btn {
					width: auto;
					margin: 0 10px 0 0;
					&:last-child {
						margin-right: 0;
					}
				}
			}
		}
	}
}


// Small devices (tablets, 768px and up)
@media screen and (min-width: @screen-sm-min) {
	.modal,
	.modal-backdrop {
		top: @navbar-height-sm;
	}

	.modal.dark {
		background: transparent;

		.modal-dialog,
		.modal-content {
			height: auto;
		}

		.modal-dialog {
			margin: 30px auto;
		}

		.modal-content {
			border-radius: 4px;
			border: 1px solid rgba(0, 0, 0, 0.2);
			box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
		}

		.modal-header {
			border-bottom: 1px solid @gray;

			.close,
			button.close {
				opacity: 1;
				color: #fff;
				.close-text {
					line-height: 1;

				}
				.icon-wmkCircleClose {
					vertical-align: middle;
				}
			}
		}

		.modal-body {
			padding: 30px 40px;
		}
		
	}
}

// Medium devices 
@media screen and (min-width: @screen-md-min) {
	.modal,
	.modal-backdrop {
		top: @navbar-height-large;
	}
}

// Push Page styles
// ------------------------------

html.push-page {

	body {
		padding-top: 0;
	}

	#page {
		position: relative;
		left: -47px;
		padding-top: @navbar-height;
		.translate(100%, 0);
		.transition-transform(0.3s);
	}

	.modal-backdrop {
		top: @navbar-height;
	}

	// Small devices (tablets, 768px and up)
	@media screen and (min-width: @screen-sm-min) {
		#page {
			left: 0;
			padding-top: @navbar-height-sm;
			.translate(0, 0);
			.transition-transform(0s);
		}

		.modal-backdrop {
			top: @navbar-height-sm;
		}
	}
	@media screen and (min-width: @screen-md-min) {
		#page {
			padding-top: @navbar-height-large;
		}
		.modal-backdrop {
			top: @navbar-height-large;
		}
	}
}

// Animate the modal in
#global-navigation-modal.modal.fade {
	top: 0; right: 47px;
	width: auto;
	.transition(none);
	.transition-transform(0);

	.modal-dialog {
		width: 100%;
		.transform(initial);
		.transition(none);
	}

	&.in {
		.transition(none);

		.modal-dialog {
			.transition(none);
		}
	}
}
@media screen and (min-width: @screen-sm-min) {
	#global-navigation-modal.modal + .modal-backdrop {
		top:0;
	}
}

