@import "../../../node_modules/bootstrap/less/navbar.less";

//
// Bootstrap Navbar Overrides
// --------------------------------------------------

.navbar.navbar-fixed-top {
	height: 50px;
	.box-shadow(0 1px 7px rgba(0,0,0,0.2));

	@media print {
		display: none;
	}
	.container-fluid {
		padding: 0;
		> .navbar-header {
			margin-left: 0;
			margin-right: 0;
		}
		> .navbar-prefix {
			background: @gray;
			display: none;
		}
	}

	.navbar-toggle {
		display: block;
		float: left;
		margin-top: 0;
		margin-bottom: 0;
		border-width: 0 1px 0 0;
		padding: 10px 13px 22px 14px;
		.border-radius(0);

		.icon-bar {
			width: 23px;
			height: 1px;
			outline: 1px solid black;
			@media screen and (-ms-high-contrast: active) {
				background-color: @navbar-default-toggle-icon-bar-hc-bg;
			}
			.border-radius(0);

			+.icon-bar {
				margin-top: 7px;
			}
		}

		.btn-text {
			display: block;
			width:32px;
			text-align: center;
			position: absolute;
			bottom:5px;
			left:50%;
			margin: 0 0 0 -16px;
			font-size: 11px;
			font-weight: bold;
		}

		&:hover .icon-bar {
			background-color: @navbar-default-toggle-icon-bar-hover-bg;
			outline-color: @navbar-default-toggle-icon-bar-hover-bg;
		}

		&:hover .btn-text {
			color: @navbar-default-toggle-icon-bar-hover-bg;
		}


		&:focus {
			.tab-focus();
		}

		&.shown,
		&:active {
			background-color: @navbar-default-toggle-active-bg;

			.icon-bar {
				background-color: @navbar-default-toggle-icon-bar-active-bg;
				outline-color: @navbar-default-toggle-icon-bar-active-bg;
				zoom: 1;
			}
			.btn-text {
				color: @navbar-default-toggle-icon-bar-active-bg;
			}
		}

		&.shown {
			border-bottom: 1px solid @brand-primary;
		}
	}

	.navbar-brand {
		position: absolute;
		display: block;
		float: left;
		top: 15px;
		right: 15px;
		margin-left: -198px/2;
		padding: 0;
		width: 198px;
		height: auto;
		overflow: hidden;

		img {
			width: 100%;
			height: auto;
		}
	}

	.navbar-right {
		float: right;

		.navbar-nav {
			margin: 0;
			> li {
				display: none;
			}

			.dropdown-menu {
				padding: 0;
				border-radius: 0;

				> li {
					border-bottom: 1px solid @navbar-default-toggle-border-color;
					> a {
						color: @gray;
						padding: 10px 15px;
						font-size: 16px;
						font-family: @font-family-sans-serif;
						font-weight: 500;
						text-decoration: none;
						&:hover {
							color: @brand-primary;
							text-decoration: underline;
							background: none;
						}
					}

					&:last-child {
						border-bottom: 0;
					}
				}
			}

			.open .dropdown-menu {
				position: absolute;
				top: 43px;
				left: auto;
				right: 5px;
				float: none;
				background: #fff;
				border: 1px solid rgba(0, 0, 0, 0.15);
				box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
				border-top-right-radius: 0;
				border-top-left-radius: 0;
			}

		}
	}

	.navbar-btn {
		margin-top: 10px;

		&.shown {
			border-bottom: 1px solid lighten(@brand-primary, 15%);

			&.btn-profile {
				color: #fff;
				background-color: @brand-primary;
			}
		}
	}

	.btn-profile {
		position: relative;
		margin-top: 0;
		margin-bottom: 0;
		.border-radius(0);
		padding: 7px 16px 18px 16px;
		color: @gray;
		border-left: 1px solid @navbar-default-toggle-border-color;
		// Need to pull the button to the left 1px so outline doesn't get cropped
		// TODO: why is it outline on button getting cropped?
		position: relative;
		left: -1px;

		.btn-text {
			display: block;
			width: 36px;
			text-align: center;
			position: absolute;
			bottom: 5px;
			left: 40%;
			margin: 0 0 0 -18px;
			font-size: 11px;
			font-weight: bold;
		}

		&:focus {
			background-color: #fff;
			border-left: 1px solid @navbar-default-toggle-border-color;
			.tab-focus();
		}

		&:hover {
			background-color: #fff;
			color: @brand-primary;
		}

		&:active {
			background-color: @brand-primary;
			color: #fff;
		}
	}


}

html.push-page .navbar {
	position: absolute;

	&.navbar-fixed-top .navbar-toggle.shown {
		border-left: 1px solid lighten(@brand-primary, 15%);

		@media (min-width: @screen-sm-min) {
			border-bottom: 1px solid lighten(@brand-primary, 15%); border-left: 0 none;
			padding-bottom: 30px;
		}
	}
}

@media (min-width: @screen-sm-min) {
	.navbar.navbar-fixed-top {
		height: @navbar-height-sm;

		.container-fluid {
			// height: @navbar-height-large;
			.navbar-header {
				width: 100%;
			}
		}

		.navbar-toggle {
			padding: 14px 23px 28px 23px;

			.btn-text {
				font-size: 13px;
				bottom: 7px;
			}
			&.shown .btn-text {
				bottom: 6px;
			}
		}

		.navbar-brand {
			width: 257px;
			height: auto;
			top: 13px;
			margin-left: -257px/2;
		}

		.navbar-btn {

			&.shown {
				&.btn-profile {
					padding-bottom: 25px;
					.btn-text {
						bottom: 9px;
					}
				}
			}
		}

		.btn-profile {
			padding: 7px 24px 20px 24px;
			font-size: 24px;
			.btn-text {
				width: 42px;
				font-size: 13px;
				bottom: 8px;
				margin: 0 0 0 -21px;
			}
		}

		.navbar-right {
			margin-right: 0;

			.navbar-nav {
				> li {
					> a {
						color: @gray;
						font-family: @font-family-sans-serif;
						font-size: 16px;
						font-weight: 500;
						padding: 20px 0 16px 0;
						margin: 0 20px;
						margin-bottom: 24px;
						text-decoration: none;

						&.active,
						&:hover {
							color: @brand-primary;
							margin-bottom: 20px;
							border-bottom: 4px solid @brand-primary;
						}
					}
				}

				.open .dropdown-menu {
					top: @navbar-height-large - 7;
				}
			}
		}
	}
}

@media (min-width: @screen-md-min) {
	.navbar.navbar-fixed-top {
		height: @navbar-height-large;
		.container-fluid {
			> .navbar-header {
				li.logout {
					position: static;
					a {
						position: absolute;
						right:12px;
						top:8px;
						color: #fff;
						font-weight: 400;
						padding:0;
						margin:0;
						border: none;
						&:after {
							content: '';
							margin-left: 8px;
						}
					}
				}
			}
			> .navbar-prefix {
				display: block;
				height: @navbar-height-prefix;
			}
		}
		.navbar-brand {
			position: static;
			margin: 13px 20px;
		}

		.navbar-toggle {
			display: none;
		}

		.navbar-right {
			.nav {
				> li {
					display: block;
				}
			}
		}
	}
}
