@import "../../../node_modules/bootstrap/less/navs.less";

//
// Bootstrap Navs Overrides
// --------------------------------------------------

// Tabs
// -------------------------

// Give the tabs something to sit on
.nav-tabs > li {
	> a {
		.border-radius(4px 4px 0 0);
		font-size: 18px; text-decoration: none;
	}

	// Active state, and its :hover to override normal :hover
	&.active > a {
		&,
		&:hover,
		&:focus {
			border-bottom-color: #fff;
		}
	}
}

.tab-pane {
	padding: @nav-link-padding;

	&:focus {
		.tab-focus();
	}
}

// Inverse the styling for the tabs
.tabs-inverse {
	.nav-tabs {
		border-bottom: 0;
		> li {
			a {
				padding: 13px 25px;
				border-width: 2px;
				font-weight: 500;
				&:hover {
					border-bottom-color: transparent;
				}
			}
			&.active {
				a,
				a:hover,
				a:focus {
					font-weight: 400;
					border-width: 2px;
					background: @gray-lighter;
					border-bottom-color: @gray-lighter;
				}
			}
		}
	}
	.tab-content {
		border: 0;
		padding: 30px 0;
		background: transparent;

		> .tab-pane {
			padding: 0;
		}
	}

}

@media (min-width: @screen-md-min) {
	.tabs-inverse {
		margin-top: -54px;
	}
}
