@import "../../../node_modules/bootstrap/less/popovers.less";

//
// Bootstrap Popovers Overrides
// --------------------------------------------------
.wm-popover {
	.popover();
	padding: 0 24px 30px 30px;
	> header {
		position: relative;
		height: 50px;
		margin: 0 -24px 0 -30px;
		border-bottom: 1px solid @gray;
		
		a.close {
			position: absolute;
			top:14px;
			right:12px;
			color: #fff;
			text-decoration: none;
			font-size: 16px;
			opacity: 1;
			text-shadow: none;
		
			span[class*="icon-"] {
				font-size: 30px;
				vertical-align: middle;
				position: relative;
				top: -2px;
			}
		}
	}
}

.popover {
	overflow: hidden;
	border: 0 none;
	background-color: @gray-dark;
	color: #fff;

	.popover-container {
		height: 135px; overflow: hidden; overflow-y: auto; -webkit-overflow-scrolling: touch;
		padding: 0 30px;

		&::-webkit-scrollbar {
			width: 10px;
		}
		&::-webkit-scrollbar-track-piece {
			background-color: @gray-lighter;
		}

		&::-webkit-scrollbar-thumb {
			.border-radius(10px);
			background-color: @gray-light;
		}

		&::-webkit-scrollbar-button:start:decrement,
		&::-webkit-scrollbar-button:end:increment {
			display: none;
		}
	}

	h3.popover-title {
		margin: 0; border: 0 none; padding: 25px 0 10px 0;
		background-color: transparent;
		font-weight: @font-weight-sans-serif-bold; font-size: 18px; text-transform: none;
	}

	.popover-content {
		padding: 0;
		font-size: @font-size-semilarge; line-height: 1.6;
	}

	// Small devices (tablets, 768px and up)
	@media (min-width: @screen-sm-min) {

		.popover-container {
			height: 231px;
		}
	}
}
