@import "../../../node_modules/bootstrap/less/progress-bars.less";

//
// Bootstrap Progress Bar Overrides
// --------------------------------------------------

.progress {
	border: none; 
	.border-radius(0);
	background-color: @gray-lighter; 
	.box-shadow(none);
}

.progress-bar {
	.box-shadow(none);
}

.progress-bar-green {
	background: @brand-green;
}

.progress-bar-turquoise {
	background: @brand-turquoise;
}
