//
// Scaffolding
// --------------------------------------------------
@import "../../../node_modules/bootstrap/less/scaffolding.less";

// Links

a {
	font-weight: 500;
	text-decoration: @link-hover-decoration;

	&:hover,
	&:focus {
		text-decoration: none;
	}

	&:disabled,
	&[disabled],
	&.disabled {
		&,
		&:active,
		&:focus,
		&:hover {
			outline: none;
			text-decoration: none !important;
			cursor: @cursor-disabled !important;
		}
	}

	&[target="_blank"],
	&.link-external {
		&.has-icon {
			padding-right: 22px;
		}

		.icon-wmkExternalLinkSmall {
			position: absolute;
			margin-left: 2px;
			color: inherit;
			font-size: 24px; text-decoration: none;
		}
	}

	&[download],
	&.link-download {
		padding-right: 22px;

		.icon-file-pdf {
			position: absolute;
			margin-top: 4px; margin-left: 10px;
			color: inherit;
			font-size: inherit;
		}
	}
	&.iblink {
		display: inline-block;
	}
}

// hr
.hr {
	margin: 30px 0;
	border: 0;
	border-top: 1px solid #eee;
	&.dark {
		border-color: @silver;
	}
}
