//@import "bower_components/bootstrap-slider/src/less/variables.less";
//@import "bower_components/bootstrap-slider/src/less/rules.less";

//
// Bootstrap Slider Overrides
// --------------------------------------------------

.slider {
	&.slider-horizontal {
		.slider-track {
			height: 2px;
			margin-top: -1px;
			background: @gray-stroke none; .box-shadow(none);
		}

		.slider-tick {
			width: 14px; height: 14px;
			margin-top: -6px; margin-left: -6px;
			background: @gray none;
			.opacity(1);
		}

		.slider-handle {
			width: 24px; height: 24px;
			margin-top: -12px; margin-left: -12px;

			&:focus {
				.tab-focus();
			}
		}


		.slider-handle,
		.slider-tick.in-selection,
		.slider-selection.tick-slider-selection {
			background: #1179bc none;
		}

		.slider-tick-label {
			color: @gray;
			font-size: 18px;

			&.selected {
				color: #1179bc;
			}
		}
	}
}
