@import "../../../node_modules/bootstrap/less/tables.less";

//
// Bootstrap Tables Overrides
// --------------------------------------------------

@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

.table-responsive {
	&::-webkit-scrollbar
	{
    width: 15px;
    height: 15px;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
	}
	&::-webkit-scrollbar-thumb
	{
    border-radius: 8px;
    background-color: #C3C3C3;
    border: 2px solid #eee;
	}
	&::-webkit-scrollbar-track
	{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
	}
}

table.table {
	margin-bottom:0;
	border-collapse: separate;
	border: none;

	&.table-borderless {
		td, th { border: 0; }
	}

	caption {
		padding: 20px 0;
		font-size: @font-size-semilarge;
	}

	// thead,
	// tbody {
	// 	:not(.row-alternate) th {
	// 		background-color: @brand-primary;
	// 		color: #fff;
	// 		font-weight: @font-weight-sans-serif-condensed-bold;
	//		font-size: @font-size-large; text-transform: uppercase;
	// 	}
	// }

	thead {
		th {
			background-color: @gray;
			color: #fff;
			font-size: 16px;
			line-height: 1;
			font-weight: @font-weight-sans-serif-condensed-bold;
			text-transform: uppercase;
			vertical-align: top;
			border: none;
			border-left-width: 1px;
			border-left-style: solid;
			&.nowrap {
				white-space: nowrap;
			}
			&.alt-width {
				width: 12%;
			}
		}
	}

	tbody {
		td, th {
			padding: 15px;
			font-size: 16px;

			&.nowrap {
				white-space: nowrap;
			}

			.icon-warning {
				color: @brand-red;
				margin-right: 5px;
				vertical-align: middle;
			}
			input[type="checkbox"] {
				margin-right: 10px;
			}

		}
		th {
			background-color: @gray;
			color: #fff;
			font-weight: @font-weight-sans-serif-condensed-bold;
		}
		tr {
			&.spacer {
				td, th {
					border-top-width: 8px;
					border-top-color: @gray-lighter;
				}
			}
			&.search-match {
				td {
					font-weight: 500;
				}
			}
			&.row-alternate {
				td {
					background-color: @gray-lighter;
				}
			}

		}
	}

}

.table-footer-actions {
	position: relative;
	margin: 10px 0 20px 0;

	&.right {
		text-align: right;
	}
}
