@import "../../../node_modules/bootstrap/less/type.less";

//
// Typography
// --------------------------------------------------

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {

	small,
	.small {
		color: inherit;
		text-transform: none;
	}

	&.heading-brand {
		color: @brand-primary;
	}

	&.heading-purple {
		color: @brand-purple;
	}
	&.heading-orange {
		color: @brand-orange;
	}
	&.heading-red {
		color: @brand-red;
	}
	&.heading-green {
		color: @brand-green;
	}
	&.heading-bluegray {
		color: @brand-bluegray;
	}
	&.heading-turquoise {
		color: @brand-turquoise;
	}
	&.heading-darkblue {
		color: @brand-darkblue;
	}

}

// Heading Sizes
h1,
.h1 {
	font-size: 36px;
	font-weight: @font-weight-sans-serif-condensed-bold;

	@media(min-width: @screen-md-min) {
		font-size: 60px;
	}
}

h2,
.h2 {
	font-size: 26px;

	@media(min-width: @screen-md-min) {
		font-size: 36px;
	}
}

h3,
.h3 {
	font-size: 26px;
}

h4, h5, h6,
.h4, .h5, .h6 {
	font-size: 18px;
}

.field-label {
	font-size: 16px;
	font-weight: 500;
}

small,
.small {
	font-size: 16px;
}

.tiny {
	font-size: 15px;
}


// Transformation Classes
strong,
.text-bold {
	font-weight: @font-weight-sans-serif-bold;
}

.text-condensed {
	font-weight: @font-weight-sans-serif-condensed-bold;
}

.text-condensed-bold {
	font-weight: @font-weight-sans-serif-condensed-heavy;
}

// Contextual colors
.text-brand {
	color: @brand-primary;
}
.text-purple {
	color: @brand-purple;
}
.text-orange {
	color: @brand-orange;
}
.text-red {
	color: @brand-red;
}
.text-green {
	color: @brand-green;
}
.text-bluegray {
	color: @brand-bluegray;
}
.text-turquoise {
	color: @brand-turquoise;
}
.text-darkblue {
	color: @brand-darkblue;
}


// Page header
// -------------------------

.page-header {
	margin-top: 0; 
	padding-top: 40px; 
	padding-right: (@grid-gutter-width / 2); 
	padding-left: (@grid-gutter-width / 2);
	border-bottom: 0 none;
	text-align: center;

	h1 {
		margin-bottom: 30px;

		small {
			display: block;
			margin-top: 6px;
			color: #4c4f54;
			font-size: 30px;
		}
	}

	p {
		max-width: 600px;
		margin-right: auto; 
		margin-left: auto;
		font-size: @font-size-large;
	}

	// Medium devices (desktops, 992px and up)
	@media (min-width: @screen-md-min) {
		padding-top: 90px; 
		margin-bottom: 70px;
	}
}

