//
// Variables
// --------------------------------------------------
@import "../../../node_modules/bootstrap/less/variables.less";


//
// Application Style Variables
// --------------------------------------------------

// Global values
// --------------------------------------------------

// Grays
// -------------------------

@gray-darker:									#232323;
@gray-dark:										#333;
@gray-dark-alt:								#3d3d3d;
@gray:												#545454;
@gray-alt:										#999;
@gray-light:									#6c6c6c;
@gray46:									#757575;
@gray-lighter:								#eee;
@gray-lighter-alt:						#e0e0e0;
@gray-lightest:								#f9f9f9;
@gray-stroke:									#c8ccd0;
@silver:										#cbcbcb;

// Brand colors
// -------------------------

@brand-primary:						#0079bc;
@brand-danger:          			#d23432;
@brand-purple:				        #5d2572;
@brand-fuchsia:                     #861a52;
@brand-orange:				        #ed5017;
@brand-red:						    #d13827;
@brand-green:					    #4d7e1c;
@brand-bluegray:			        #295f69;
@brand-turquoise:			        #0087a6;
@brand-darkblue:			        #005b8e;

@nav-text-color:							#fff;
@nav-primary-bg:							@brand-primary;
@nav-primary-btn-bg:					#004f86;
@nav-primary-btn-text:				@nav-text-color;
@nav-secondary-bg:						#0172af;
@nav-secondary-btn-bg:				@nav-secondary-bg;
@nav-secondary-btn-text:			@nav-text-color;
@nav-division-line:					#51bdf8;
@nav-accent-line:							#149ae3;
@nav-login-btn-bg:						#004f86;
@nav-login-btn-text:					@nav-text-color;
@nav-register-btn-bg:					#8a428b;
@nav-register-btn-text:				@nav-text-color;


//== Scaffolding
//
//## Settings for some of the most global styles.

@body-bg:               @gray-lighter;
@text-color:            @gray;//-light;


// Links
// -------------------------

@link-hover-color:         @brand-primary;



// Typography
// -------------------------

@font-family-serif:				georgia, serif;
@font-family-sans-serif:	'Trade Gothic Next', helvetica, arial, sans-serif;
@font-family-monospace:		'Courier New', monospace;

@font-weight-sans-serif-normal:						400; // Regular
@font-weight-sans-serif-bold:							500; // Bold
@font-weight-sans-serif-condensed-bold:		600; // LT W04 Bd Cn (Condensed Bold)
@font-weight-sans-serif-condensed-heavy:	700; // LT W04 Hv Cn (Condensed Heavy)

@font-size-largest:       ceil(@font-size-base * 1.71); // ~24px
@font-size-semilarge:	  	ceil(@font-size-base * 1.14); // ~16px

@font-size-h1:            50px;

@headings-font-family:    @font-family-sans-serif;
@headings-font-weight:	  @font-weight-sans-serif-condensed-heavy;

//** Blockquote font size
@blockquote-font-size:        @font-size-semilarge;


//== Components
//
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).


@border-radius-base:        2px;
@border-radius-large:       4px;
@border-radius-small:       3px;

//== Alerts
// --------------------------------------------------



// Grid system
// --------------------------------------------------


//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.
@screen-xl-min:							1300px;
@screen-lg-max:							(@screen-xl-min - 1);


//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

// Extra-large screen / wide desktop
@container-extralarge-desktop: (1240px + @grid-gutter-width);
//** For `@screen-lg-min` and up.
@container-xl:                 @container-extralarge-desktop;



//== Navs
//
//##

//=== Shared nav styles
@nav-link-padding:                          6px 30px 7px 30px;
@nav-link-hover-bg:                         #fff;

// //== Tabs
@nav-tabs-border-color:                     @gray-stroke;


@nav-tabs-active-link-hover-bg:             #fff;



//== Navbar
//
//##

// Basics of a navbar
@navbar-height-large:              98px;
@navbar-height-sm:                 60px;
@navbar-height-prefix:             38px;

@glossary-navbar-height:						70px;
@glossary-navbar-height-large:			130px;

//@navbar-default-color:             #777;
@navbar-default-bg:                #fff;
@navbar-default-border:            darken(@navbar-default-bg, 6.5%);


// Navbar toggle
@navbar-default-toggle-active-bg:          @brand-primary;
@navbar-default-toggle-hover-bg:           #fff;
@navbar-default-toggle-icon-bar-bg:        @gray;
@navbar-default-toggle-icon-bar-hc-bg:     #fff;
@navbar-default-toggle-icon-bar-active-bg: #fff;
@navbar-default-toggle-icon-bar-hover-bg:  @brand-primary;
@navbar-default-toggle-border-color:       #d9dde1;


//== Tables
//
//## Customizes the `.table` component with basic values, each used across all table variations.

//** Padding for `<th>`s and `<td>`s.
@table-cell-padding:            8px 15px;



//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

@btn-font-weight:								@font-weight-sans-serif-condensed-bold;

@btn-default-color:							@brand-primary;
@btn-default-bg:								#fff;
@btn-default-border:						@btn-default-bg;

@btn-primary-color:							#fff;
@btn-primary-bg:								@brand-primary;
@btn-primary-border:						@btn-primary-bg;

@btn-things-to-one-color:				#fff;
@btn-things-to-one-bg:					@brand-primary;
@btn-things-to-one-border:			@btn-things-to-one-bg;

@btn-things-to-two-color:				#fff;
@btn-things-to-two-bg:					#6a8935;
@btn-things-to-two-border:			@btn-things-to-two-bg;



//== Forms
//
//##

// //** Border color for inputs on focus
@input-border-focus:             #f5833c;

//** Placeholder text color
@input-color-placeholder:				@gray46;



//** Large `.form-control` height
@input-height-large:						50px;


@legend-color:                   @gray;
@legend-border-color:            transparent;


// //** Disabled cursor for form controls and buttons.
@cursor-disabled:                default;//not-allowed;

//== Pagination
//
//##

@pagination-color:                     @gray;
@pagination-bg:                        #fff;
@pagination-border:                    @gray-alt;

@pagination-hover-color:               @gray;
@pagination-hover-bg:                  rgba(0,0,0,0.1);
@pagination-hover-border:              @gray-alt;

@pagination-disabled-color:            #ccc;
@pagination-disabled-bg:               #fff;
@pagination-disabled-border:           #ccc;


//== Carousel
//
//##

@carousel-text-shadow:						none;
@carousel-control-color:					#555;
@carousel-control-font-size:			34px;

@carousel-indicator-active-bg:		#e97d39;
@carousel-indicator-border-color:	#aeb6be;


// Modals
// -------------------------

@modal-backdrop-bg:           #fff;
@modal-backdrop-opacity:			0.7;
@modal-footer-border-color:   transparent;


