﻿<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-social-twitter-feed col-md-5">
        <div class="view view-tweets view-id-tweets view-display-id-block view-dom-id-31eeea5e1582369735b6439346b3a110">



          <div class="view-content">
            <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">

              <div class="views-field views-field-formatted-tweet"> <span class="field-content"><div class="twitter-status clearfix">
    <div class="avatar">
      <a href="https://twitter.com/qctimes" title="Quad-City Times" target="_blank">
        <img src="//pbs.twimg.com/profile_images/821455944856977408/FoLwNa9H_normal.jpg" alt="Quad-City Times">
      </a>
    </div>
  
    <div class="text">
      RT <a target="_blank" rel="nofollow" class="twitter-timeline-link" href="https://twitter.com/qctimes"></a><a target="_blank" rel="nofollow" class="twitter-timeline-link" href="https://twitter.com/qctimes">@qctimes</a>: Ickes: Fairmount Cemetery in state's hands <a target="_blank" rel="nofollow" class="twitter-timeline-link" href="https://t.co/nQuhKE8B7o">https://t.co/nQuhKE8B7o</a> <span class="timestamp"> — <em class="placeholder">2 days 7 hours</em> ago</span>
              </div>

            </div>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-social-links col-md-5">
    <a class="footer-social-facebook" href="https://www.facebook.com/iowainsurancedivision/" target="_blank"><img alt="Facebook" src="https://iid.iowa.gov//sites/all/themes/bootstrap_iid/img/facebook.png"></a>
    <a class="footer-social-linkedin" href="https://www.linkedin.com/company/iowa-insurance-division" target="_blank"><img alt="LinkedIn" src="https://iid.iowa.gov//sites/all/themes/bootstrap_iid/img/linkedin.png"></a>
    <a class="footer-social-instagram" href="https://www.instagram.com/iowainsurancedivision/" target="_blank"><img alt="Instragram" src="https://iid.iowa.gov//sites/all/themes/bootstrap_iid/img/instagram.png"></a>
    <a class="footer-social-youtube" href="https://www.youtube.com/channel/UCcffxpaQR9x3bNX1VjZ3baQ" target="_blank"><img alt="YouTube" src="https://iid.iowa.gov//sites/all/themes/bootstrap_iid/img/youtube.png"></a>
    <a class="footer-social-twitter" href="https://twitter.com/IowaInsDiv" target="_blank"><img alt="Twitter" src="https://iid.iowa.gov//sites/all/themes/bootstrap_iid/img/twitter.png"></a>
  </div>
  <div class="footer-contact col-md-2">
    Iowa Insurance Division<br>
    <a href="https://iid.iowa.gov/contact">Contact Us</a><br>
    <a href="https://www.iowa.gov/policies" target="_blank">Policies</a><br> Copyright 2017 </div>
  </div>
  </div>
</footer>