// Custom Selection Colors

// Ensure body occupies the entire viewport
html {
	min-width: 320px; overflow-x: hidden; -ms-overflow-style: scrollbar;
}

body {
	width: 100%; height: 100%; overflow-x: hidden;
	padding-top: @navbar-height;
	font-smooth: always;
	font-size: 18px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	// Small devices (tablets, 768px and up)
	@media (min-width: @screen-sm-min) {
		padding-top: @navbar-height-sm;
	}
	@media (min-width: @screen-md-min) {
		padding-top: @navbar-height-large;
	}
}

#skip-content {
	z-index: 9999;
	position: absolute;
	top:0;
	left:0;
	color: #fff;
	background: rgba(0,0,0,0.2);
	display: none;
	@media (min-width: @screen-md-min) {
		display: block;
	}
}

// Page Container
#page {
	#skip-content {
		font-size: 16px;
		display: none;
		@media (min-width: @screen-md-min) {
			display: block;
			&:focus {
				display: inline-block;
				padding: 10px;
				outline: none;
				>span {
					.tab-focus(@offset: 0);
					padding: 5px;
				}
				z-index: 2000;
			}
		}
	}
}


// Global Content

#global-content {
	position: relative;
	z-index: 5;

	&:focus {
		outline: none;
	}

	>.container-fluid > .row {
		>[class^="col-"],
		>[class*=" col-"] {
			padding-right: 0; padding-left: 0;
		}
	}
}

a {
	cursor: pointer;
	&.anchor {
		display: inline-block;
		padding-top: (@navbar-height + 25x);
		margin-top: -(@navbar-height + 25x);
		width: 0; height: 0;
	}
}

.link-icon {
	text-decoration: none;
	.link-text {
		text-decoration: underline;
		vertical-align: middle;
	}
	[class*=icon-] {
		margin-right: 3px;
		vertical-align: middle;
	}
	&:hover {
		.link-text {
			text-decoration: none;
		}
	}
	&.back {
		text-transform: uppercase;
		.link-text {
			font-size: 16px;
			font-weight: 600;
		}
		[class*=icon-] {
			font-weight: 600;
			font-size: 10px;
			position: relative;
			top: 2px;
			margin-right: 3px;
		}
	}
	&.print {
		text-transform: uppercase;
		.link-text {
			font-size: 16px;
			font-weight: 600;
		}
		[class*=icon-] {
			font-size: 16px;
			position: relative;
			top: 2px;
			margin-right: 5px;
		}
	}
	&.remove {
		text-transform: uppercase;
		.link-text {
			font-size: 16px;
			font-weight: 600;
		}
		[class*=icon-] {
			font-size: 16px;
			position: relative;
			top: 1px;
			margin-right: 0;
		}
	}
	&.view-toggle {
		text-transform: uppercase;
		.link-text {
			font-size: 16px;
			font-weight: 600;
		}
		[class*=icon-] {
			font-size: 16px;
			position: relative;
			top: 1px;
			margin-right: 0;
		}
	}
	&.link-icon-right {
		[class*=icon-] {
			margin-right: 0;
			margin-left: 5px;
		}
	}

	button& {
		color: @brand-primary;
		font-weight: 500;
		border: 0;
		background: transparent;

		[class*=icon-] {
			margin-right: 0;
		}

		&:focus {
			.tab-focus();
		}

		&.btn {
			padding: 9px 15px;
			line-height: 1.3;
			font-size: 16px;
			font-weight: 600;
			text-transform: uppercase;
		}
	}
}

.page-actions {
    .clearfix();
    margin: 0 0 20px 0;

    .back {
        float: left;
    }
    .print {
        display: none;
        float: right;
    }
}

@media print {
	body {
		padding-top: 0;
	}
}

@media (min-width: @screen-md-min) {

	.page-actions {
        .print {
            display: inline-block;
        }
    }

}

@media (min-width: @screen-lg-min) {
	a {
		&.anchor {
			padding-top: (@navbar-height-large + 25x);
			margin-top: -(@navbar-height-large + 25x);
		}
	}
}
