.multi-step-process {

    .progressbar {
        padding: 0;
        margin: 40px 0;
        position: relative;
        .flex-flow(row nowrap, space-between, flex-start, stretch);
        &:after {
            content: '';
            display: block;
            position: absolute;
            left: 10%;
            top: 21px;
            width: 76%;
            height: 2px;
            background: @silver;
            z-index: -1;
        }
        
        
        li {
            list-style-type: none;
            color: white;
            text-align: center;
            width: 25%;
            min-width: 75px;
            align-items: center;

            a {
                text-decoration: none;
                display: inline-block;
            }

            .step-indicator {
                position: relative;            
                color: @brand-primary;
                font-size: 20px;
                font-weight: 500;
                text-align: center;
                width: 45px;
                height: 45px;
                border-radius: 50%;
                margin: 0 auto 10px auto;
                background: #fff;
                border: 2px solid @brand-primary;

                span {
                    vertical-align: middle;
                    position: relative;
                    top: 3px;
                }
                
                .icon-check {
                    display: none;
                }
            }            

            .step-name {
                padding: 0 2px;
                color: @gray;
                line-height: 1;
                font-size: 14px;
                font-weight: 600;
                text-transform: uppercase;
                hyphens: auto;  
            }

            &.active {
                .step-indicator {
                    color: #fff;
                    background: @gray;
                    border-color: @gray;
                }
            }

            &.complete {
                .step-indicator {
                    cursor: pointer;
                    color: #fff;
                    background: @brand-primary;
                    border-color: @brand-primary;

                    .step-number {
                        display: none;
                    }

                    .icon-check {
                        display: inline-block;
                    }
                }

                .step-name {
                    cursor: pointer;
                    color: @brand-primary;
                    text-decoration: underline;
                }

                &:hover {
                    .step-name {
                        text-decoration: none;
                    }
                }
            }

            &.disabled {
                cursor: default;

                a {
                    cursor: default;
                }

                .step-indicator {
                    cursor: default;
                    color: #fff;
                    background: @gray;
                    border-color: @gray;

                    .step-number {
                        display: none;
                    }

                    .icon-check {
                        display: inline-block;
                    }
                }

                .step-name {
                    cursor: default;
                    color: @gray;
                    text-decoration: none;
                }

                &:hover {
                    .step-name {
                        text-decoration: none;
                    }
                }
            }

        }

    }

}

@media (min-width: @screen-sm-min) {
    
    .multi-step-process {
        .progressbar {
            li {
                .step-name {
                    font-size: 16px;
                }
            }
        }
    }

}

@media (min-width: @screen-md-min) {

    .multi-step-process {
        .progressbar {
            li {
                .step-indicator {
                    width: 50px;
                    height: 50px;

                    span {
                        top: 6px;
                    }
                } 
                
            }
        }
    }

}
