.news-alert {
    color: #fff;
    font-size: 18px;
    border-top: 1px solid #fff;

    .news-alert-content {
        position: relative;
        padding: 30px 40px 30px 0;
    }

    a {
        color: #fff;
        font-weight: 500;
    }

    .btn-close {
        line-height: 1;
        font-size: 35px;
        text-align: center;
        color: #fff;
        width: 42px;
        height: 42px;
        padding: 0;
        border: 0;
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-50%);
        background: transparent;
    }

    &.alert-purple {
		background: @brand-purple;
	}
    &.alert-fuchsia {
		background: @brand-fuchsia;
	}
	&.alert-orange {
		background: @brand-orange;
	}
	&.alert-red {
		background: @brand-red;
	}
	&.alert-green {
		background: @brand-green;
	}
	&.alert-bluegray {
		background: @brand-bluegray;
	}
	&.alert-turquoise {
		background: @brand-turquoise;
	}
	&.alert-darkblue {
		background: @brand-darkblue;
	}
}