.page-alert {
    color: #fff;
    font-size: 18px;
	margin-bottom: 20px;
    border-top: 1px solid #fff;
    background: @brand-orange;

    .page-alert-content {
        position: relative;
        padding: 30px 0;

		p:last-child {
			margin-bottom: 0;
		}
    }

    a {
        color: #fff;
        font-weight: 500;
    }

    &.alert-gray {
		background: @gray;
	}
    &.alert-purple {
		background: @brand-purple;
	}
    &.alert-fuchsia {
		background: @brand-fuchsia;
	}
	&.alert-red {
		background: @brand-red;
	}
	&.alert-green {
		background: @brand-green;
	}
	&.alert-bluegray {
		background: @brand-bluegray;
	}
	&.alert-turquoise {
		background: @brand-turquoise;
	}
	&.alert-darkblue {
		background: @brand-darkblue;
	}
	
}