h1.bar, h2.bar, h3.bar, h4.bar {
  color: #fff;
  font-weight: 700;
  margin-bottom: 0px;
}

.modal .modal-body, .modal a {
    color: #fff;
}

.contract-search {
    padding-top: 30px;
	padding-bottom: 30px;
    background-color: #0079bc;
}

th {
  font-family: 'Trade Gothic Next','Avenir Next Condensed',calabri,helvetica,arial,sans-serif;
  font-size: 14px;
  color: #fff;
  background-color: #000;
  text-transform: uppercase;
    border: 1px solid #f2f2f2;
}

td {
  border-left: 1px solid #eee;
  background-color: #fff;
    font-size: 14px;
}

td:last-child {
  border-right: 1px solid #f2f2f2;
}

tr:last-child {
  border-bottom: 1px solid #f2f2f2;
}

.nav-tabs {
    margin-bottom: 0;
    /*max-width: 600px;*/
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 20px;
    /*max-width: 600px;*/
    background-color: #fff;
}

.alert-info {
  color: #fff;
  background-color: #008baa;
}

span.fieldLabel {
  font-weight: 700;
  font-size: 12px;
}
