<div class="panel">
  <p class="error-text">Sorry, this system is currently unavailable.  Please try again later.</p>
  <p class="error-text">Normal operational hours are 7:00 a.m. - 5:30 p.m. Central Time, Monday through Friday.  If you are receiving this message during normal operating hours, please call 800-407-0267.</p>
<div>