// Global Navigation Modal
.modal#global-navigation-modal {
	.modal-dialog {
		height: 100%;
		margin: 0;
	}

	.modal-content {
		height: 100%;
		border: 0 none; 
		.border-radius(0);
		background-color: @gray;
	}

	.modal-header {
		border-bottom: 0 none; 
		padding: 11px 20px;
		height: 51px;
		background-color: @gray;
	}

	.modal-body {
		//background-color: @brand-primary;
	}

	.modal-header,
	.modal-body,
	a {
		color: #fff;
	}

	.modal-title,
	h2 {
		font-weight: @font-weight-sans-serif-condensed-bold; 
		white-space: nowrap;
	}

	.modal-title {
		font-size: 20px;
	}

	h2 {
		display: inline-block;
		margin: 0 0 20px 0; 
		padding: 20px 0 10px 0;
		font-size: 20px;
	}

	.modal-footer {
		display: none;
	}

	.modal-body {
		padding: 0;

		.row {

			[class^="col-"],
			[class*=" col-"] {
				padding-right: 0; 
				padding-left: 0;
			}

		}

		a {
			text-decoration: none;

			&.active,
			&:hover,
			&:focus {
				text-decoration: @link-hover-decoration;
				background-color: darken(@brand-primary, 7.5%);
			}

		}

		.gn-menu > ul {
			list-style-type: none;
			margin: 0; 
			padding: 0;

			> li {
				background-color: @brand-primary;
				position: relative;
				margin: 0;
				padding: 0;
				font-size: @font-size-semilarge;
				text-transform: uppercase;
				border-bottom: 1px solid @nav-division-line;
				&.ebill > a:first-letter {
					text-transform: lowercase;
				}
				&.logout {
					text-transform: none;
					background-color: transparent;
					border-bottom: none;
					> a {
						font-weight: 400;
						&:after {
							font-weight: 500;
							content: '>';
							margin-left: 4px;
						}
					}
				}

				> a {
					font-weight: 600;
					display: block;
					padding: 18px 10px 18px 20px;

					span.icon-wmkBullet:before {
						position: absolute;
						top: 4px; 
						left: 0;
						color: lighten(@brand-primary, 15%);
						font-weight: bold; font-size: 17px;
						text-decoration: none;
					}

				}
			}
		}

	}

	.btn-close {
		position: absolute;
		top: 0px; 
		left: 0px; 
		z-index: 10;
		width: 50px; 
		height: 51px;
		border: 0 none; 
		padding: 0;
		background: @brand-primary none;
		color: #fff;
		font-size: 35px; 
		text-align: center;
		border-radius: 0;
	}

	// Small devices (tablets, 768px and up)
	@media (min-width: @screen-sm-min) {
		.modal-header {
			height: @navbar-height-sm;
		}
		.btn-close {
			width: 60px; 
			height: 60px;
		}
	}

	//  Medium devices (desktops, 992px and up)
	@media (min-width: @screen-md-min) {
		// !important is neccessary to override inline styling
		display: none !important; 
	}

	//  Large devices (large desktops, 1200px and up)
	@media (min-width: @screen-lg-min) {
		h2 {
			padding-top: 66px;
		}

		.modal-body {
			.row {

				[class^="col-"],
				[class*=" col-"] {
					padding-bottom: 40px;
				}
				[class^="col-"]:not(:first-child):after,
				[class*=" col-"]:not(:first-child):after {
					padding-top: 66px;
					padding-bottom: 40px;
				}

			}

			.gn-menu > ul > li {
				font-size: 24px;
				> a {
					span.icon-wmkBullet:before {
						top: 10px;
					}
				}
			}
		}
	}

	// //  Extra-Large devices (large desktops, 1300px and up)
	// @media (min-width: @screen-xl-min) {

	// }
}
