<header id="navbar" role="banner" class="navbar container navbar-default">
    <div class="container">
        <section id="top-search-form">
            <div class="content">
                <form class="form-search content-search" action="/search" method="get" id="search-top-form" accept-charset="UTF-8">
                    <div class="input-group">
                        <label for="Search">Search</label>
                        <input placeholder="Search" class="form-control form-text" type="text" name="s" value="" size="15" maxlength="128" id="Search"
                            title="Search" />
                        <span class="input-group-btn"><button type="submit" class="btn btn-primary"><span class="search-button-text">Search</span>
                        <span
                            class="icon glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                            </span>
                    </div>
                </form>
            </div>
        </section>
        <div class="navbar-logo">
            <a class="logo" href="/" title="Home">
              <img src="https://iid.iowa.gov/sites/all/themes/bootstrap_iid/logo.png" alt="Home" />
            </a>
        </div>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
        </div>
        <div class="navbar-collapse collapse">
            <nav role="navigation">
                <ul class="menu nav navbar-nav">
                    <li class="first leaf"><a href="/">Home</a></li>
                    <li class="leaf"><a href="https://iid.iowa.gov/about-us">About Us</a></li>
                    <li class="leaf"><a href="https://iid.iowa.gov/consumers">Consumers</a></li>
                    <li class="leaf"><a href="https://iid.iowa.gov/regulated-individuals">Regulated Individuals</a></li>
                    <li class="leaf"><a href="https://iid.iowa.gov/regulated-entities">Regulated Entities</a></li>
                    <li class="last leaf"><a href="https://iid.iowa.gov/news-reports-legal-info">News, Reports, &amp; Legal Info</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>