.spinner {
    border: 16px solid #eee;
    border-top: 16px solid #0079bc;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    animation: spin 2s linear infinite;
    position: relative;
    left: 150px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

