//- ACCORDION
body .ui-accordion {

    .ui-accordion-header {
        position: relative;
        color: @brand-primary;
        border-top: 1px solid @silver;
        border-radius: 0;

        // PrimeNG uses fontawesome icon/classnames
        // the following overrides with our custom icons for wellmark
        .fa {
            .icon-wmkCircleArrowDown();
            margin: 0;
            position: absolute;
            right: 0;
            left: auto;
            top: 20px;
            font-size: 30px;
        }

        a {
            font-size: 22px;
            font-weight: 600;
            text-decoration: none;
            text-transform: uppercase;
            padding: 20px 80px 20px 0;
        }

        &.ui-state-hover {
            .ui-icon {
                color: @brand-primary;
            }
        }

        &.ui-state-active {
            background-color: inherit;
            // color: #ffffff;

            .fa {
                .icon-wmkCircleArrowUp();
            }

            a {
                // color: #ffffff;
            }

            //.icon-wmkCircleArrowUp 
            
            + .ui-accordion-content-wrapper {
                display: block;
            }
        }

        &.ui-tabview-outline {
            border: 0 none;
            outline: 0 none;
            background-color: #e6e6e6;

            &.ui-state-active {
                background-color: #0283f1;
            }
        }

    }

    .ui-accordion-content {
        padding: 20px 0;
    }

    .ui-accordion-content-wrapper {
        display: none;
    }

    &.accordion-panels {

        .ui-accordion-header {
            margin-top: 10px;
            background-color: #ffffff;
            border: 0;
            border-radius: 6px;

            .fa {
                right: 30px;
            }

            a {
                text-transform: none;
                padding: 20px 80px 20px 30px;
            }

            &.ui-state-active {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;    
            }
        }

        .ui-accordion-content-wrapper {
            background-color: #ffffff;
            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;
        }

        .ui-accordion-content {
            padding: 20px 30px;
        }

    }

}

