//- AUTOCOMPLETE
.ui-autocomplete.ui-autocomplete-multiple .ui-autocomplete-multiple-container {
    padding: 0.5em 0.75em;
}
.ui-autocomplete.ui-autocomplete-multiple .ui-autocomplete-multiple-container .ui-autocomplete-input-token input.ui-state-focus {
    border: none;
}
.ui-autocomplete-panel {
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}
.ui-autocomplete-panel .ui-autocomplete-items {
    padding: 0;
}
.ui-autocomplete-panel .ui-autocomplete-items .ui-autocomplete-list-item {
    margin: 0;
    padding: 0.375em 0.75em;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.ui-autocomplete-panel .ui-autocomplete-items .ui-autocomplete-group {
    padding: 0.375em 0.75em;
    background-color: #e6e6e6;
    color: #373a3c;
}