//- BUTTONSET
.ui-buttonset.ui-selectbutton .ui-button:first-child {
    border-right: none;
}
.ui-buttonset.ui-selectbutton .ui-button:last-child {
    border-left: none;
}
.ui-buttonset .ui-button {
    background-color: #e6e6e6;
    color: #373a3c;
    border: 1px solid transparent;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
.ui-buttonset .ui-button.ui-state-hover {
    background-color: #cdcdcd;
}
.ui-buttonset .ui-button.ui-state-focus {
    background-color: #e6e6e6;
    color: #373a3c;
    -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid #0275d8;
}
.ui-buttonset .ui-button.ui-state-active {
    background-color: #0275d8;
    color: #ffffff;
}
.ui-buttonset .ui-button.ui-state-active.ui-state-focus {
    background-color: #0275d8;
    color: #ffffff;
    -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
}
.ui-buttonset .ui-button:first-child {
    -moz-border-radius-topleft: 0.25em;
    -webkit-border-top-left-radius: 0.25em;
    border-top-left-radius: 0.25em;
    -moz-border-radius-bottomleft: 0.25em;
    -webkit-border-bottom-left-radius: 0.25em;
    border-bottom-left-radius: 0.25em;
}
.ui-buttonset .ui-button:last-child {
    -moz-border-radius-topright: 0.25em;
    -webkit-border-top-right-radius: 0.25em;
    border-top-right-radius: 0.25em;
    -moz-border-radius-bottomright: 0.25em;
    -webkit-border-bottom-right-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
}
@media (max-width: 640px) {
    .ui-buttonset .ui-button {
        margin-bottom: 0.063em;
        -moz-border-radius: 0.25em;
        -webkit-border-radius: 0.25em;
        border-radius: 0.25em;
    }
}
