// BUTTONS
.ui-button {
    color: #ffffff;
    background-color: #0275d8;
    border: 1px solid transparent;
    padding: 0.2em;
    font-size: 1em;
    -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}
.ui-button.ui-state-focus {
    outline: 0 none;
    background-color: #0267bf;
}
.ui-button.ui-state-hover {
    background-color: #0267bf;
}
.ui-button.ui-state-active {
    background-color: #025aa5;
    -moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.ui-button.raised-btn {
    -moz-box-shadow: 0 1px 2.5px 0 rgba(0, 0, 0, 0.26), 0 1px 5px 0 rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0 1px 2.5px 0 rgba(0, 0, 0, 0.26), 0 1px 5px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 1px 2.5px 0 rgba(0, 0, 0, 0.26), 0 1px 5px 0 rgba(0, 0, 0, 0.16);
}
.ui-togglebutton.ui-button.ui-state-focus {
    -moz-box-shadow: 0px 0px 5px #1f89ce;
	-webkit-box-shadow: 0px 0px 5px #1f89ce;
	box-shadow: 0px 0px 5px #1f89ce;
}
