//- CAROUSEL
.ui-carousel {
    padding: 0;
}
.ui-carousel .ui-carousel-header {
    margin: 0;
    border: 0 none;
    border-bottom: 1px solid #e6e6e6;
    padding: .75em 1.25em;
    background-color: #f5f5f5;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.ui-carousel .ui-carousel-header .ui-carousel-header-title {
    padding: 0;
}
.ui-carousel .ui-carousel-footer {
    border: 0 none;
    border-top: 1px solid #e6e6e6;
    margin: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    padding: .75em 1.25em;
    background-color: #f5f5f5;
}
.ui-carousel .ui-carousel-button {
    margin-top: 0.2em;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    color: #767b7f;
}
.ui-carousel .ui-carousel-button:hover {
    color: #2d353c;
}
.ui-carousel .ui-carousel-button.ui-state-disabled:hover {
    color: #2d353c;
}
.ui-carousel .ui-carousel-page-links {
    margin-top: 0.188em;
}
.ui-carousel .ui-carousel-page-links .ui-carousel-page-link {
    color: #767b7f;
}
.ui-carousel .ui-carousel-page-links .ui-carousel-page-link.fa-circle-o {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center;
}
.ui-carousel .ui-carousel-page-links .ui-carousel-page-link.fa-circle-o:before {
    content: "";
}
.ui-carousel .ui-carousel-page-links .ui-carousel-page-link.fa-dot-circle-o {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center;
}
.ui-carousel .ui-carousel-page-links .ui-carousel-page-link.fa-dot-circle-o:before {
    content: "";
}
.ui-carousel .ui-carousel-page-links .ui-carousel-page-link.ui-icon-radio-on {
    color: #0275d8;
    background-color: #767b7f;
}
