//- CHECKBOX
.ui-chkbox .ui-chkbox-box {
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}
.ui-chkbox .ui-chkbox-box.ui-state-hover {
    border: 1px solid #b3b3b3;
}
.ui-chkbox .ui-chkbox-box.ui-state-active {
    border: 1px solid #0275d8;
    background-color: #0275d8;
    color: #ffffff;
}
.ui-chkbox .ui-chkbox-box.ui-state-focus {
    border: 1px solid #0275d8;
    -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
}
