//- DATALIST
.ui-datalist .ui-datalist-header {
    padding: .75em 1.25em;
    background-color: #f5f5f5;
}
.ui-datalist .ui-paginator {
    padding: 0;
}
.ui-datascroller .ui-datascroller-header {
    padding: .75em 1.25em;
    background-color: #f5f5f5;
}
