//- DROPDOWNS
.ui-dropdown {
    border: 1px solid #cccccc;
}
.ui-dropdown .ui-dropdown-label {
    background: #ffffff;
}
.ui-dropdown .ui-dropdown-trigger {
    background-color: #ffffff;
}
.ui-dropdown .ui-dropdown-trigger .fa {
    color: #55595c;
    margin-top: .65em;
}
.ui-dropdown .ui-dropdown-trigger.ui-state-hover,
.ui-dropdown .ui-dropdown-trigger.ui-state-focus {
    background-color: #d9d9d9;
}
.ui-dropdown.ui-state-hover .ui-dropdown-label,
.ui-dropdown.ui-state-focus .ui-dropdown-label {
    background-color: #d9d9d9;
}
.ui-dropdown.ui-state-focus {
    border: 1px solid #8c8c8c;
    -moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.ui-dropdown-panel .ui-dropdown-filter-container {
    padding: 0.375em 0.75em;
}
.ui-dropdown-panel .ui-dropdown-filter-container .ui-dropdown-filter {
    width: 100%;
    box-sizing: border-box;
    padding-right: 1.250em;
}
.ui-dropdown-panel .ui-dropdown-filter-container .fa {
    top: 1.05em;
    right: 1.25em;
}
.ui-dropdown-panel .ui-dropdown-items {
    padding: 0;
}
.ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item {
    padding: 0.375em 0.75em;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item.ui-state-hover {
    background-color: #f4f3f4;
    color: #373a3c;
}
.ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item.ui-state-highlight {
    background-color: #0275d8;
    color: #ffffff;
}
.ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item > td {
    padding: 0.375em 0.75em;
}
.ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item-group {
    padding: 0.375em 0.75em;
    background-color: #e6e6e6;
}