//- FC (FOCUS?)
.fc .fc-event {
    background-color: #025aa5;
    border-color: #025aa5;
}
.fc .fc-slats td {
    background-color: #ffffff;
}
.fc .fc-toolbar .fc-prev-button span {
    line-height: inherit;
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center;
}
.fc .fc-toolbar .fc-prev-button span:before {
    content: "";
}
.fc .fc-toolbar .fc-prev-button .ui-icon {
    position: relative;
    top: 0.186em;
}
.fc .fc-toolbar .fc-next-button span {
    line-height: inherit;
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center;
}
.fc .fc-toolbar .fc-next-button span:before {
    content: "";
}
.fc .fc-toolbar .fc-next-button .ui-icon {
    position: relative;
    top: 0.186em;
}
