//- FIELDSET
.ui-fieldset {
    border-color: #e6e6e6;
}
.ui-fieldset .ui-fieldset-legend {
    color: #2d353c;
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}
.ui-fieldset .ui-fieldset-legend .ui-fieldset-toggler {
    display: inline-block;
    color: #767b7f;
}
.ui-fieldset .ui-fieldset-legend.ui-state-hover {
    background-color: #f4f3f4;
}
.ui-fieldset .ui-fieldset-legend.ui-state-hover .ui-fieldset-toggler {
    color: #2d353c;
}
.ui-fieldset .ui-fieldset-legend.ui-state-focus {
    background-color: #e6e6e6;
}
.ui-fieldset .ui-fieldset-content {
    padding: 0.375em 0.75em;
}