//- FILEUPLOAD
.ui-fileupload {

    button {
        background: @brand-primary;
        transition: none;

        &:hover,
        &.ui-state-hover {
            background: darken(@brand-primary, 10%);
        }

        &:focus,
        &.ui-state-focus {
            .tab-focus();
            background: darken(@brand-primary, 10%);
        }

        &[disabled],
        &[disabled]:hover,
        &[disabled].ui-state-hover,
        &[disabled]:focus,
        &[disabled].ui-state-focus {
            background: @brand-primary;
        }
    }

    .ui-fileupload-buttonbar {
        padding: 0;
        border: 0;

        button {
            font-size: 16px;
            font-weight: 600;
            text-transform: uppercase;
            padding: 9px 30px;

            // hide 'close' and 'upload' button
            // (for some reason these buttons don't have 
            // unique classnames like the 'choose' button)
            display: none;

            // show 'choose' button
            &.ui-fileupload-choose {
                display: inline-block;
            }

            .ui-button-icon-left {
                display: none;
            }

            .ui-button-text {
                padding: 0;
            }
        }
    }

    .ui-fileupload-content {
        margin: 0;
        padding: 0;
    }

    .ui-fileupload-files {
        margin-top: 20px;
        display: block;
    }

    .ui-fileupload-row {
        position: relative;
        font-size: 16px;
        display: block;
        padding-bottom: 10px;
        margin-bottom: 5px;
        border-bottom: 1px solid #dedede;

        &:last-child {
            padding-bottom: 0;
            border-bottom: 0;
            margin-bottom: 0;
        }

        button {
            color: @brand-primary;
            display: block;
            padding: 0;
            margin: 0;
            width: 40px;
            height: 40px;
            background: none;

            .fa-close {
                .icon-wmkCircleClose();
                font-size: 30px;
                margin: 0;
                vertical-align: middle;
                position: static;
            }
            .ui-button-text {
                display: none;
            }
        }

        > div {
            padding: 0;
            display: block;

            &:first-child {
                display: none;
            }

            &:nth-child(2) {
                word-break: break-all;
                padding: 5px 0;
                padding-right: 40px;
            }

            &:last-child {
                position: absolute;
                top: 50%;
                right: 0;
                margin-top: -20px;
            }
        }
        
    }

}

.file-upload {
    padding: 16px 0;
    background: #fff;
    border-radius: 4px;
    margin-bottom: 20px;
}

@media (min-width: @screen-sm-min) {
    .ui-fileupload {

        .ui-fileupload-row {
            display: table-row;
            padding-bottom: 0;
            margin-bottom: 0;
            border-bottom: 0;

            > div {
                padding: 3px 10px;
                display: table-cell;

                &:nth-child(2) {
                    padding: 0 10px 0 0;
                }

                &:nth-child(3) {
                    padding-right: 0;
                    width: 126px;
                }

                &:last-child {
                    width: 40px;
                    padding-right: 0;
                    position: static;
                }
            }
            
        }

        .ui-fileupload-files {
            width: 100%;
            display: table;
        }

    }
}