//- GALLERIA
.ui-galleria .ui-galleria-nav-prev {
    font-size: 1em;
    color: #767b7f;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}
.ui-galleria .ui-galleria-nav-prev:hover {
    color: #2d353c;
}
.ui-galleria .ui-galleria-nav-next {
    font-size: 1em;
    color: #767b7f;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}
.ui-galleria .ui-galleria-nav-next:hover {
    color: #2d353c;
}