//- GROWL
.ui-growl .ui-growl-message-success {
    background-color: #dff0d8;
    color: #3c763d;
}
.ui-growl .ui-growl-message-info {
    background-color: #d9edf7;
    color: #31708f;
}
.ui-growl .ui-growl-message-warn {
    background-color: #fcf8e3;
    color: #8a6d3b;
}
.ui-growl .ui-growl-message-error {
    background-color: #f2dede;
    color: #a94442;
}