//- INPLACE
.ui-inplace .ui-inplace-display {
    padding: 0.5em 0.75em;
    -moz-border-radius: 0.25em;
    -webkit-border-radius: 0.25em;
    border-radius: 0.25em;
}
.ui-inplace .ui-inplace-display.ui-state-hover {
    background-color: #f4f3f4;
}
