//- INPUTTEXT
.ui-inputtext {
    background: #ffffff;
    padding: 0.5em 0.75em;
    border: 1px solid rgba(0, 0, 0, 0.15);
    -moz-border-radius: 0.25em;
    -webkit-border-radius: 0.25em;
    border-radius: 0.25em;
    font-size: 1em;
    color: #55595c;
    line-height: 1.25;
}
.ui-inputtext.ui-state-focus {
    border: 1px solid #66afe9;
}