//- LISTBOX
.ui-listbox {
    padding: 0;
    width: 12.5em;
}
.ui-listbox .ui-listbox-item {
    margin: 0;
    padding: 0.375em 0.75em;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.ui-listbox .ui-listbox-item:last-child {
    border-bottom: none;
}
.ui-listbox .ui-listbox-item:hover {
    background-color: #f4f3f4;
    color: #373a3c;
}
.ui-listbox .ui-listbox-item.ui-state-highlight {
    background-color: #0275d8;
    color: #ffffff;
}
.ui-listbox .ui-listbox-item > td {
    padding: 0.375em 0.75em;
}
.ui-listbox .ui-listbox-header {
    padding: 0.375em 0.75em;
    border-top: 0 none;
    border-right: 0 none;
    border-left: 0 none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}
.ui-listbox .ui-listbox-header .ui-listbox-filter-container {
    width: 8em;
}


//- MULTISELECT LISTBOX
.ui-multiselectlistbox {
    padding: 0;
}
.ui-multiselectlistbox .ui-multiselectlistbox-header {
    padding: 0.375em 0.75em;
}
.ui-multiselectlistbox .ui-multiselectlistbox-item {
    margin: 0;
    padding: 0.375em 0.75em;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.ui-multiselectlistbox .ui-multiselectlistbox-item:hover {
    background-color: #f4f3f4;
    color: #373a3c;
}
.ui-multiselectlistbox .ui-multiselectlistbox-item.ui-state-highlight {
    background-color: #0275d8;
    color: #ffffff;
}