//- MENU
.ui-menu {
    padding: 0;
}
.ui-menu.ui-shadow {
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}
.ui-menu .ui-menu-parent .ui-submenu-icon {
    margin-top: 0.2em;
}
.ui-menu .ui-menu-list .ui-widget-header {
    width: 100%;
    box-sizing: border-box;
    border: 0 none;
    background: #e6e6e6;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.ui-menu .ui-menu-list .ui-widget-header h3 {
    padding: 0.375em 0.75em;
    font-weight: 400;
}
.ui-menu .ui-menu-list .ui-widget-header .ui-icon {
    color: #767b7f;
}
.ui-menu .ui-menu-list .ui-widget-header.ui-state-hover {
    background-color: #e6e6e6;
}
.ui-menu .ui-menu-list .ui-widget-header.ui-state-hover .ui-icon {
    color: #2d353c;
}
.ui-menu .ui-menu-list .ui-widget-header:first-child {
    margin-top: 0;
}
.ui-menu .ui-menu-list .ui-menuitem {
    margin: 0;
    box-sizing: border-box;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.ui-menu .ui-menu-list .ui-menuitem.ui-state-hover {
    background-color: #0275d8;
    color: #ffffff;
}
.ui-menu .ui-menu-list .ui-menuitem.ui-state-hover .ui-menuitem-link {
    color: #ffffff;
}
.ui-menu .ui-menu-list .ui-menuitem .ui-menuitem-link {
    padding: 0.5em 0.75em;
    width: 100%;
    box-sizing: border-box;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    color: #373a3c;
}
.ui-menu .ui-menu-list .ui-menuitem .ui-menuitem-link.ui-state-hover {
    background-color: #0275d8;
    color: #ffffff;
}
.ui-menu .ui-menu-list .ui-menu-child {
    padding: 0;
}
.ui-menu .ui-menu-list .ui-menu-child.ui-shadow {
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}
.ui-menu.ui-menubar {
    background-color: #ffffff;
    border-color: #e6e6e6;
}
.ui-menu.ui-menubar > .ui-menu-list > .ui-menuitem {
    width: auto;
}
.ui-menu.ui-menubar > .ui-menu-list > .ui-menuitem > .ui-menuitem-link {
    color: #2d353c;
}
.ui-menu.ui-menubar > .ui-menu-list > .ui-menuitem > .ui-menuitem-link .ui-menuitem-icon {
    color: #767b7f;
}
.ui-menu.ui-menubar > .ui-menu-list > .ui-menuitem > .ui-menuitem-link.ui-state-hover {
    color: #ffffff;
}
.ui-menu.ui-menubar > .ui-menu-list > .ui-menuitem > .ui-menuitem-link.ui-state-hover .ui-menuitem-icon {
    color: #ffffff;
}
.ui-menu.ui-menubar > .ui-menu-list > .ui-menuitem.ui-menubar-options {
    margin-right: 8px;
}
.ui-menu.ui-megamenu .ui-menu-list > table > t> tr > td {
    padding: 0;
}
.ui-menu.ui-megamenu.ui-megamenu-vertical > .ui-menu-list .ui-menuitem {
    width: 100%;
}
