//- MESSAGES
.ui-messages.ui-messages-success {
    background-color: #dff0d8;
    border-color: #d0e9c6;
    color: #3c763d;
}
.ui-messages.ui-messages-success .ui-messages-close {
    color: #3c763d;
}
.ui-messages.ui-messages-info {
    background-color: #d9edf7;
    border-color: #bcdff1;
    color: #31708f;
}
.ui-messages.ui-messages-info .ui-messages-close {
    color: #31708f;
}
.ui-messages.ui-messages-warn {
    background-color: #fcf8e3;
    border-color: #faf2cc;
    color: #8a6d3b;
}
.ui-messages.ui-messages-warn .ui-messages-close {
    color: #8a6d3b;
}
.ui-messages.ui-messages-error {
    background-color: #f2dede;
    border-color: #ebcccc;
    color: #a94442;
}
.ui-messages.ui-messages-error .ui-messages-close {
    color: #a94442;
}