//- ORDERLIST
.ui-orderlist .ui-orderlist-controls button {
    font-size: 1.1em;
}
.ui-orderlist .ui-orderlist-caption {
    padding: .75em 1.25em;
    background-color: #f5f5f5;
    box-sizing: border-box;
    width: 12.5em;
}
.ui-orderlist .ui-orderlist-list {
    box-sizing: border-box;
}
.ui-orderlist .ui-orderlist-list .ui-orderlist-item {
    padding: 0.375em 0.75em;
    margin: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.ui-orderlist .ui-orderlist-list .ui-orderlist-item:last-child {
    border-bottom: none;
}
.ui-orderlist .ui-orderlist-list .ui-orderlist-item.ui-state-hover {
    background-color: #f4f3f4;
    color: #373a3c;
}
.ui-orderlist .ui-orderlist-list .ui-orderlist-item.ui-state-highlight {
    background-color: #0275d8;
    color: #ffffff;
}
.ui-orderlist.ui-grid-responsive .ui-grid-row .ui-orderlist-controls {
    margin-right: 0;
    padding-right: 0.5em;
}
