//- PANELMENU
.ui-panelmenu .fa {
    position: static;
}
.ui-panelmenu .ui-panelmenu-panel {
    border: 1px solid #c7c7c7;
    border-bottom: none;
}
.ui-panelmenu .ui-panelmenu-panel:last-child {
    border-bottom: 1px solid #c7c7c7;
}
.ui-panelmenu .ui-panelmenu-header {
    background-color: #ffffff;
    padding: 0;
    font-size: 1em;
    color: #2d353c;
    -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}
.ui-panelmenu .ui-panelmenu-header .fa {
    color: #767b7f;
}
.ui-panelmenu .ui-panelmenu-header a {
    padding: 0.5em 0.75em;
    color: #2d353c;
}
.ui-panelmenu .ui-panelmenu-header.ui-state-hover {
    background-color: #e6e6e6;
}
.ui-panelmenu .ui-panelmenu-header.ui-state-hover .fa {
    color: #2d353c;
}
.ui-panelmenu .ui-panelmenu-header.ui-state-active {
    background-color: #0275d8;
}
.ui-panelmenu .ui-panelmenu-header.ui-state-active a {
    color: #ffffff;
}
.ui-panelmenu .ui-panelmenu-header.ui-state-active .fa {
    color: #ffffff;
}
.ui-panelmenu .ui-panelmenu-content .ui-menuitem-link {
    padding: 0.375em 0.75em;
    color: #373a3c;
    -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.ui-panelmenu .ui-panelmenu-content .ui-menuitem-link.ui-state-hover {
    background-color: #f4f3f4;
    color: #373a3c;
}
.ui-panelmenu .ui-panelmenu-content .ui-menuitem-link > span.fa {
    display: inline-block;
    vertical-align: middle;
    left: auto;
}
.ui-panelmenu .ui-panelmenu-content .ui-menuitem-link .ui-menuitem-text {
    display: inline-block;
    vertical-align: middle;
}