//- PANEL
.ui-panel {
    padding: 0;
    border-color: rgba(0, 0, 0, 0.125);
}
.ui-panel .ui-panel-titlebar {
    border: 0 none;
    border-bottom: 1px solid #e6e6e6;
    padding: .75em 1.25em;
    background-color: #f5f5f5;
    -moz-border-radius-topleft: 0.25em;
    -webkit-border-top-left-radius: 0.25em;
    border-top-left-radius: 0.25em;
    -moz-border-radius-topright: 0.25em;
    -webkit-border-top-right-radius: 0.25em;
    border-top-right-radius: 0.25em;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.ui-panel .ui-panel-titlebar .ui-panel-titlebar-icon {
    position: relative;
    color: #767b7f;
    top: 0.125em;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}
.ui-panel .ui-panel-titlebar .ui-panel-titlebar-icon.ui-state-hover {
    color: #2d353c;
}
.ui-panel .ui-panel-content {
    height: 100%;
    box-sizing: border-box;
    padding: 1.25em;
}
.ui-panel .ui-panel-footer {
    padding: 0.375em 0.75em;
    border: 0 none;
    border-top: 1px solid #c7c7c7;
    margin: 0;
}
