//- PICKLIST
.ui-picklist .ui-picklist-buttons button {
    font-size: 1.1em;
}
.ui-picklist .ui-picklist-caption {
    padding: .75em 1.25em;
    background-color: #f5f5f5;
}
.ui-picklist .ui-picklist-filter-container {
    margin-bottom: 0.063em;
}
.ui-picklist .ui-picklist-filter-container .ui-icon {
    top: 0.313em;
    right: 0.25em;
    color: #747a7f;
}
.ui-picklist .ui-picklist-list .ui-picklist-item {
    padding: 0.375em 0.75em;
    margin: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.ui-picklist .ui-picklist-list .ui-picklist-item.ui-state-hover {
    background-color: #f4f3f4;
    color: #373a3c;
}
.ui-picklist .ui-picklist-list .ui-picklist-item.ui-state-highlight {
    background-color: #0275d8;
    color: #ffffff;
}
