//- PROGRESSBAR
.ui-progressbar {
    border: 0 none;
    background-color: #e3e3e3;
}
.ui-progressbar .ui-progressbar-value {
    border: 0 none;
    background: #299bfd;
    margin: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.ui-progressbar .ui-progressbar-label {
    margin-top: -0.063em;
}