//- RATING
.ui-rating .ui-rating-cancel {
    display: inline-block;
}
.ui-rating .ui-rating-cancel a {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center;
    display: block;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    color: #e42a7b;
}
.ui-rating .ui-rating-cancel a:before {
    content: "";
}
.ui-rating .ui-rating-cancel a:hover {
    color: #e74189;
}
.ui-rating .ui-rating-star {
    display: inline-block;
}
.ui-rating .ui-rating-star a {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center;
    display: block;
    color: #373a3c;
}
.ui-rating .ui-rating-star a:before {
    content: "";
}
.ui-rating .ui-rating-star a:hover {
    color: #0275d8;
}
.ui-rating .ui-rating-star-on a {
    color: #0275d8;
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center;
    display: block;
}
.ui-rating .ui-rating-star-on a:before {
    content: "";
}
