//- SCAFFOLDING
.ui-widget,
.ui-widget .ui-widget {
    font-family: @font-family-sans-serif;
    text-decoration: none;
    font-size: 1em;
}
.ui-widget-content {
    
}
.ui-widget-header {
    color: @text-color;
    border: 1px solid @gray-stroke;
}
.ui-state-active,
.ui-state-highlight {
    background-color: @brand-primary;
    color: #ffffff;
}
.ui-state-error,
.ui-state-default.ui-state-error {
    border-bottom-color: #e13131;
}
.ui-icon {
    width: 1em;
    height: 1em;
    line-height: 1em;
}
.ui-state-disabled {
    opacity: .35;
    filter: Alpha(Opacity=35);
    background-image: none;
}