//- SCROLLPANEL
.ui-scrollpanel .ui-scrollpanel-drag {
    background-color: #e3e3e3;
}
.ui-scrollpanel .ui-scrollpanel-track {
    background-color: #f7f7f7;
    border: 0 none;
}
.ui-scrollpanel .ui-scrollpanel-corner {
    background-color: #f7f7f7;
}
