//- SELECT BUTTON
.ui-selectbutton.ui-buttonset .ui-button {
    background-color: #ffffff;
    border-color: #cccccc;
}
.ui-selectbutton.ui-buttonset .ui-button.ui-state-hover {
    background-color: #e6e6e6;
}
.ui-selectbutton.ui-buttonset .ui-button.ui-state-active {
    background-color: #0275d8;
}