//- SLIDER
.ui-slider {
    background-color: #e6e6e6;
    border-color: #e6e6e6;
}
.ui-slider.ui-slider-horizontal .ui-slider-handle {
    top: -.2em;
}
.ui-slider.ui-slider-vertical .ui-slider-handle {
    left: -.2em;
}
.ui-slider .ui-slider-handle {
    background-color: #0275d8;
    -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}
.ui-slider .ui-slider-handle:hover {
    background-color: #0267bf;
}
.ui-slider .ui-slider-range {
    background: #43a7fd;
}