//- SPINNER
.ui-spinner .ui-spinner-up.ui-state-hover,
.ui-spinner .ui-spinner-down.ui-state-hover {
    color: #ffffff;
}
.ui-spinner .ui-spinner-button {
    z-index: auto;
    box-sizing: border-box;
}