//- STEPS
.ui-steps {
    position: relative;
}
.ui-steps .ui-steps-item {
    background-color: transparent;
    text-align: center;
}
.ui-steps .ui-steps-item.ui-state-disabled {
    opacity: 1;
    filter: alpha(opacity=100);
}
.ui-steps .ui-steps-item .ui-menuitem-link {
    display: inline-block;
    text-align: center;
    background-color: transparent;
    overflow: hidden;
}
.ui-steps .ui-steps-item .ui-menuitem-link .ui-steps-number {
    display: inline-block;
    background-color: #ffffff;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    padding: 0.25em 0.563em;
    color: #747a7f;
    position: relative;
    font-size: 1em;
    top: 0.875em;
    margin-bottom: 0.75em;
    border: 1px solid #cccccc;
}
.ui-steps .ui-steps-item .ui-menuitem-link .ui-steps-title {
    display: block;
    margin-top: 0.375em;
    color: #747a7f;
}
.ui-steps .ui-steps-item.ui-state-highlight .ui-steps-number {
    background-color: #0275d8;
    color: #ffffff;
    border-color: #0275d8;
}
.ui-steps .ui-steps-item.ui-state-highlight .ui-steps-title {
    font-weight: 700;
    color: #373a3c;
}
.ui-steps .ui-steps-item:last-child .ui-menuitem-link {
    display: block;
}
.ui-steps:before {
    content: ' ';
    border: 1px solid #0275d8;
    width: 100%;
    top: 45%;
    left: 0;
    display: block;
    position: absolute;
}
