//- TABMENU
.ui-tabmenu {
    border: 0 none;
}
.ui-tabmenu .ui-tabmenu-nav {
    padding: 0;
}
.ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem {
    margin: 0;
    position: static;
    -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem .ui-menuitem-link {
    color: #2d353c;
    padding: 0.375em 0.75em;
}
.ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem .ui-menuitem-link .ui-menuitem-icon,
.ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem .ui-menuitem-link .ui-menuitem-text {
    vertical-align: middle;
    display: inline-block;
    float: none;
}
.ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem .ui-menuitem-link .ui-menuitem-icon {
    color: #767b7f;
}
.ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem.ui-state-hover {
    background-color: #e6e6e6;
}
.ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem.ui-state-hover .ui-menuitem-icon {
    color: #2d353c;
}
.ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem.ui-state-active .ui-menuitem-link {
    background-color: #0275d8;
    color: #ffffff;
}
.ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem.ui-state-active .ui-menuitem-link .ui-menuitem-icon {
    color: #ffffff;
}
.ui-menubutton .ui-button.ui-button-text-icon-left .ui-icon {
    margin-top: -.625em;
}