@import '../bootstrap/variables';

//- TABVIEW
.ui-tabview {
    padding: 0;
    background: transparent;
}
.ui-tabview.ui-tabview-top,
.ui-tabview.ui-tabview-bottom,
.ui-tabview.ui-tabview-left,
.ui-tabview.ui-tabview-right {
    border: 0 none;
}
@media(max-width: @screen-md-min) {
    .ui-tabview .ui-tabview-nav {
        display: none;
    }
}
.ui-tabview.ui-tabview-top .ui-tabview-nav,
.ui-tabview.ui-tabview-bottom .ui-tabview-nav,
.ui-tabview.ui-tabview-left .ui-tabview-nav,
.ui-tabview.ui-tabview-right .ui-tabview-nav {
    padding: 0;
    border: 0 none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.ui-tabview.ui-tabview-top .ui-tabview-nav li,
.ui-tabview.ui-tabview-bottom .ui-tabview-nav li,
.ui-tabview.ui-tabview-left .ui-tabview-nav li,
.ui-tabview.ui-tabview-right .ui-tabview-nav li {
    position: static;
    border-radius: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    border-bottom: none;

    a {
        line-height: @line-height-base;
        border: 2px solid transparent;
    }
}
.ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-default a,
.ui-tabview.ui-tabview-bottom .ui-tabview-nav li.ui-state-default a,
.ui-tabview.ui-tabview-left .ui-tabview-nav li.ui-state-default a,
.ui-tabview.ui-tabview-right .ui-tabview-nav li.ui-state-default a {
    padding: 13px 25px;
    margin-right: 2px;
}
// .ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-default a:focus,
// .ui-tabview.ui-tabview-bottom .ui-tabview-nav li.ui-state-default a:focus,
// .ui-tabview.ui-tabview-left .ui-tabview-nav li.ui-state-default a:focus,
// .ui-tabview.ui-tabview-right .ui-tabview-nav li.ui-state-default a:focus {
//     outline: 0 none;
// }
.ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-hover,
.ui-tabview.ui-tabview-bottom .ui-tabview-nav li.ui-state-hover,
.ui-tabview.ui-tabview-left .ui-tabview-nav li.ui-state-hover,
.ui-tabview.ui-tabview-right .ui-tabview-nav li.ui-state-hover {
    // border-color: #ddd;
    // border-bottom: none;
    // background-color: #ffffff;
    a {
        border-color: #ddd;
        border-bottom-color: transparent;
    }
}
.ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-tabview-outline,
.ui-tabview.ui-tabview-bottom .ui-tabview-nav li.ui-tabview-outline,
.ui-tabview.ui-tabview-left .ui-tabview-nav li.ui-tabview-outline,
.ui-tabview.ui-tabview-right .ui-tabview-nav li.ui-tabview-outline {
    background-color: #e6e6e6;
}
.ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active,
.ui-tabview.ui-tabview-bottom .ui-tabview-nav li.ui-state-active,
.ui-tabview.ui-tabview-left .ui-tabview-nav li.ui-state-active,
.ui-tabview.ui-tabview-right .ui-tabview-nav li.ui-state-active {
    // background-color: #0275d8;
    // border-color: #0275d8;
    a {
        border-color: #ddd;
        border-bottom-color: transparent;
    }
}
.ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active a,
.ui-tabview.ui-tabview-bottom .ui-tabview-nav li.ui-state-active a,
.ui-tabview.ui-tabview-left .ui-tabview-nav li.ui-state-active a,
.ui-tabview.ui-tabview-right .ui-tabview-nav li.ui-state-active a {
    font-weight: 400;
    color: @gray;
    background: @gray-lighter;
    text-decoration: underline;
}
.ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active.ui-tabview-outline,
.ui-tabview.ui-tabview-bottom .ui-tabview-nav li.ui-state-active.ui-tabview-outline,
.ui-tabview.ui-tabview-left .ui-tabview-nav li.ui-state-active.ui-tabview-outline,
.ui-tabview.ui-tabview-right .ui-tabview-nav li.ui-state-active.ui-tabview-outline {
    background-color: #0283f1;
}
.ui-tabview.ui-tabview-top .ui-tabview-navscroller-btn,
.ui-tabview.ui-tabview-bottom .ui-tabview-navscroller-btn,
.ui-tabview.ui-tabview-left .ui-tabview-navscroller-btn,
.ui-tabview.ui-tabview-right .ui-tabview-navscroller-btn {
    background-color: #ffffff;
}
.ui-tabview.ui-tabview-top .ui-tabview-navscroller-btn.ui-state-hover,
.ui-tabview.ui-tabview-bottom .ui-tabview-navscroller-btn.ui-state-hover,
.ui-tabview.ui-tabview-left .ui-tabview-navscroller-btn.ui-state-hover,
.ui-tabview.ui-tabview-right .ui-tabview-navscroller-btn.ui-state-hover {
    background-color: #f4f3f4;
}
.ui-tabview.ui-tabview-top .ui-tabview-navscroller-btn.ui-tabview-navscroller-btn-left,
.ui-tabview.ui-tabview-bottom .ui-tabview-navscroller-btn.ui-tabview-navscroller-btn-left,
.ui-tabview.ui-tabview-left .ui-tabview-navscroller-btn.ui-tabview-navscroller-btn-left,
.ui-tabview.ui-tabview-right .ui-tabview-navscroller-btn.ui-tabview-navscroller-btn-left {
    left: 0;
    height: 2.063em;
}
.ui-tabview.ui-tabview-top .ui-tabview-navscroller-btn.ui-tabview-navscroller-btn-right,
.ui-tabview.ui-tabview-bottom .ui-tabview-navscroller-btn.ui-tabview-navscroller-btn-right,
.ui-tabview.ui-tabview-left .ui-tabview-navscroller-btn.ui-tabview-navscroller-btn-right,
.ui-tabview.ui-tabview-right .ui-tabview-navscroller-btn.ui-tabview-navscroller-btn-right {
    right: 0;
    height: 2.125em;
}
.ui-tabview.ui-tabview-top .ui-tabview-navscroller-btn .ui-icon,
.ui-tabview.ui-tabview-bottom .ui-tabview-navscroller-btn .ui-icon,
.ui-tabview.ui-tabview-left .ui-tabview-navscroller-btn .ui-icon,
.ui-tabview.ui-tabview-right .ui-tabview-navscroller-btn .ui-icon {
    margin-top: 0.5em;
}
.ui-tabview.ui-tabview-top .ui-tabview-nav li {
    // margin-right: 0.125em;
    // -moz-border-radius-topleft: 4px;
    // -webkit-border-top-left-radius: 4px;
    // border-top-left-radius: 4px;
    // -moz-border-radius-topright: 4px;
    // -webkit-border-top-right-radius: 4px;
    // border-top-right-radius: 4px;
    a {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }
}
.ui-tabview.ui-tabview-left .ui-tabview-nav,
.ui-tabview.ui-tabview-right .ui-tabview-nav {
    border-bottom: none;
}
.ui-tabview.ui-tabview-left .ui-tabview-nav li,
.ui-tabview.ui-tabview-right .ui-tabview-nav li {
    // border: 1px solid transparent;
    width: 100%;
}
.ui-tabview.ui-tabview-left .ui-tabview-nav li.ui-state-hover,
.ui-tabview.ui-tabview-right .ui-tabview-nav li.ui-state-hover {
    border: 1px solid #dedede;
}
.ui-tabview.ui-tabview-left .ui-tabview-nav li.ui-state-active,
.ui-tabview.ui-tabview-right .ui-tabview-nav li.ui-state-active {
    border-color: #0275d8;
    border-bottom: none;
}
.ui-tabview.ui-tabview-bottom .ui-tabview-nav {
    border-bottom: none;
    // border-top: 1px solid #cccccc;
}
.ui-tabview.ui-tabview-bottom .ui-tabview-nav li {
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    // margin-right: 0.125em;
}
.ui-tabview.ui-tabview-bottom .ui-tabview-nav li.ui-state-hover {
    border-bottom: 1px solid #cccccc;
    border-top-color: transparent;
}
.ui-tabview.ui-tabview-left .ui-tabview-nav {
    border-right: 1px solid #cccccc;
}
.ui-tabview.ui-tabview-left .ui-tabview-nav li {
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.ui-tabview.ui-tabview-left .ui-tabview-nav li.ui-state-hover {
    border-right: none;
}
.ui-tabview.ui-tabview-right .ui-tabview-nav {
    border-left: 1px solid #cccccc;
    height: 9.375em;
}
.ui-tabview.ui-tabview-right .ui-tabview-nav li {
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.ui-tabview.ui-tabview-right .ui-tabview-nav li.ui-state-hover {
    border-left-color: transparent;
}
.ui-tabview .ui-tabview-nav li .ui-tabview-title{
    vertical-align: bottom;
}
.ui-tabview .ui-tabview-panels {
    padding: 30px 0;
}
.ui-tabview .ui-tabview-panel {
    padding: 0;
}
