//- TOOLTIP
.ui-tooltip .ui-tooltip-text {
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}
.ui-tooltip.ui-state-error {
    border: 0 none;
}