//- TOOLBAR
.ui-toolbar {
    padding: 0.375em 0.75em;
}
.ui-toolbar .fa-ellipsis-v {
    color: #aaaaaa;
    margin: 0 0.5em;
}
.ui-tooltip .ui-tooltip-arrow {
    color: #2d353c;
}
.ui-tooltip .ui-tooltip-text {
    background-color: #2d353c;
}

