//- TREE
.ui-tree {
    box-sizing: border-box;
}
.ui-tree .ui-treenode .ui-treenode-content .ui-tree-toggler {
    font-size: 1.1em;
    vertical-align: middle;
    display: inline-block;
    color: #747a7f;
    margin-top: 0.2em;
}
.ui-tree .ui-treenode .ui-treenode-content .ui-treenode-icon {
    vertical-align: middle;
    display: inline-block;
    margin: 0.2em 0.375em 0 0;
    font-size: 1.1em;
    color: #747a7f;
}
.ui-tree .ui-treenode .ui-treenode-content .ui-treenode-label {
    margin: 0;
    vertical-align: middle;
    display: inline-block;
    padding: 0;
}
.ui-tree .ui-treenode .ui-treenode-content .ui-treenode-label.ui-state-hover {
    background-color: #f4f3f4;
    color: #373a3c;
}
.ui-tree .ui-treenode .ui-treenode-content .ui-treenode-label.ui-state-highlight {
    background-color: #0275d8;
    color: #ffffff;
}
.ui-tree .ui-tree-droppoint.ui-state-hover {
    background-color: #0275d8;
}
.ui-tree.ui-tree-horizontal .ui-treenode-content {
    background-color: #ffffff;
    border: 1px solid #c7c7c7;
}
.ui-tree.ui-tree-horizontal .ui-treenode-content.ui-state-hover {
    background-color: #f4f3f4;
    color: #373a3c;
}
.ui-tree.ui-tree-horizontal .ui-treenode-content.ui-state-highlight {
    background-color: #0275d8;
    color: #ffffff;
}
.ui-tree.ui-tree-horizontal .ui-treenode-content.ui-state-highlight .ui-tree-toggler,
.ui-tree.ui-tree-horizontal .ui-treenode-content.ui-state-highlight .ui-treenode-icon {
    color: #ffffff;
}
.ui-tree.ui-tree-horizontal .ui-treenode-content .ui-chkbox .ui-icon {
    color: #0275d8;
}
.ui-tree-draghelper {
    border: 1px solid #0275d8;
}