@import "../../../styles/bootstrap/variables.less";
@import "../../../styles/bootstrap/mixins.less";

.pagination-wrap {
	width: 100%;
	text-align: center;

	.pagination-text {
		display: block;
		width: 100%;
	}

	ul.pagination {
		display: inline-block;
		margin-left: auto;
		margin-right: auto;
		>li:not(.active):not(.disabled):not(.skip) {
			>a, >span {
				// Change the default "natural" color, but let the disabled, hover, and active states override
				color: @gray;
			}
		}
	}

}

@media screen and(min-width:@screen-md-min) {
	.pagination-wrap {
		text-align: inherit;

		.pagination-text {
			float:left;
			width: auto;
		}

		ul.pagination {
			float: right;
			margin-left: 0;
			margin-right: 0;
		}
	}
}
