﻿<div class="pagination-wrap clearfix">
	<div class="pagination-text"><ng-content></ng-content></div>
	<ul class="pagination clearfix" role="navigation" *ngIf="totalPages > 1">
		<li [class.disabled]="currentPage === 1">
			<a (click)="setPrevious()" *ngIf="(currentPage != 1)" aria-label="Previous" role="link" href="#">
				<span class="icon-wmkCarouselArrowLeft"></span>
				<span class="sr-only">Previous</span>
			</a>
			<span *ngIf="(currentPage.toString() === '1')" class="icon-wmkCarouselArrowLeft" aria-hidden="true"></span>
		</li>
		<li *ngFor="let page of pageList" [ngClass]="getListClass(page.pageLabel)">
			<span *ngIf="(page.pageLabel === '...')">
				{{page.pageLabel}}
			</span>
			<a *ngIf="(currentPage.toString() != page.pageLabel && page.pageLabel != '...')" (click)="setPage(page.pageLabel)" role="link" href="#">
				<span class="sr-only">Page&nbsp;</span>
				<span>{{page.pageLabel}}</span>
			</a>
			<span *ngIf="(page.pageLabel === currentPage.toString())">
				<span aria-hidden="true">{{page.pageLabel}}</span>
				<span class="sr-only">Page {{page.pageLabel}} (Current Page)</span>
        	</span>
		</li>
		<li [class.disabled]="currentPage === totalPages">
			<a (click)="setNext()" *ngIf="(currentPage != totalPages)" aria-label="Next" role="link" href="#">
				<span class="icon-wmkCarouselArrowRight"></span>
				<span class="sr-only">Next</span>
			</a>
			<span *ngIf="(currentPage === totalPages)" class="icon-wmkCarouselArrowRight" aria-hidden="true"></span>
		</li>
	</ul>
</div>
