<label>
  {{ componentLabelText }}
  <div class="select-wrapper" >
    <select class="form-control" id="selectState"  (change)="sendToParent($event)" >
      <option *ngFor="let state of states" [selected]="selectedState === state.stateAbbreviation" [value]="state.stateAbbreviation" >{{ state.stateValue }}</option>
    </select>
    <span class="arrow" aria-hidden="true"><i class="icon-wmkCaretDown"></i></span>
  </div>
</label>
  <div *ngIf="errorMessage.length > 0" id="divStateError" aria-hidden="true" class="help-block with-errors" style="display: block;">
    <span class="icon-warning" aria-hidden="true"></span>
    <span id="spnStateError">{{ errorMessage }}</span>
  </div>