@import "../../../styles/bootstrap/variables";

.form-group {
	max-width: 620px;

	margin-left: -0.5em;
	margin-right: -0.5em;

	label {
		width: 100%;
		padding-left: 0.5em;
		padding-right: 0.5em;
	}

	.form-control {
		border-radius: 4px;
		display: inline-block;
		margin-top: 7px;
		width: 100%;
	}

	&.form-group-flex {
		display: flex;
		flex-wrap: wrap;

		>* {
			flex: 1 1 auto;
			width: auto;

			&.flex-fill {
				width: 100%;
				flex-basis: 100%;
			}

			&.flex-static {
				flex-grow: 0;
			}
		}
	}

}