<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h1>Contact Information</h1>
      <p>You will receive your eligibility information through the mail in approximately 10 business days. Please provide your current contact information below.</p>
      <p>* indicates a required field</p>
      <wm-error-list [errors]="errorList" (clickError)="focusField($event)"></wm-error-list>
    </div>
  </div>
  <form #householdForm="ngForm">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-lg-4">
        <label for="txtSubscriberMailAddrLine1">Mailing Address:*</label>
        <input type="text" class="form-control" id="txtSubscriberMailAddrLine1" required name="mailAddrLine1" [(ngModel)]="eligInformation.mailAddressLine1"/>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-sm-5 col-md-4 col-lg-2">
        <label for="txtSubscriberMailAddrLine2">Apt Number:</label>
        <input type="text" class="form-control" id="txtSubscriberMailAddrLine2" name="mailAddrLine2" [(ngModel)]="eligInformation.mailAddressLine2"/>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-lg-4">
        <label for="txtSubscriberMailCity">City:*</label>
        <input type="text" class="form-control" id="txtSubscriberMailCity" required name="mailCity" [(ngModel)]="eligInformation.mailCity"/>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-lg-4">
        <label id="state" for="selMailState">State:*
            <div class="select-wrapper">
              <select class="form-control" id="selMailState" required name="mailState" [(ngModel)]="eligInformation.mailState">
                  <option *ngFor="let state of states" [value]="state.value">{{ state.description }}</option>
              </select>
              <span class="arrow"><i aria-hidden="true" class="icon-wmkCaretDown"></i></span>
            </div>
          </label>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-sm-5 col-md-4 col-lg-3">
        <label for="txtSubscriberMailZip">
          Zip:*<br />
          <small>XXXXX or XXXXX-XXXX or XXXXXXXXX</small>
        </label>
        <input  type="text" class="form-control" id="txtSubscriberMailZip" required name="mailZip" [(ngModel)]="eligInformation.mailZip"/>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6 col-sm-5 col-md-4 col-lg-2">
        <label for="txtSubscriberPhoneNumber">Phone Number:*<br /><small>(XXX) XXX-XXXX</small></label>
        <input type="text" required [textMask]="{mask: phoneMask}" class="form-control" id="txtSubscriberPhoneNumber" name="phoneNumber"
          [(ngModel)]="eligInformation.phoneNumber" />
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-lg-4">
        <label for="txtSubscriberEmail">Email:</label>
        <input type="text" maxlength="256" class="form-control" id="txtSubscriberEmail" name="email" [(ngModel)]="eligInformation.emailAddress"/>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-lg-8">
        <button class="btn btn-primary" type="button" (click)="goToApplications()">
                  <i area-hidden="true" class="glyphicon glyphicon-arrow-left"></i> Back
                </button>
        <button class="btn btn-primary" type="button" (click)="goToIndividualInformation()">
                <i area-hidden="true" class="glyphicon glyphicon-arrow-right"></i> Continue
              </button>
      </div>
    </div>
  </form>
</div>