<label>
  {{ componentLabelText }}
  <div class="select-wrapper" >
    <select [disabled]="(isEnabled) ? '' : 'disabled'" class="form-control" id="selectCounty"  (change)="sendToParent($event)" >
      <option *ngFor="let county of filteredCounties" [selected]="selectedCounty === county.countyName" [value]="county.countyName" >{{ county.countyName }}</option>
    </select>
    <span class="arrow" aria-hidden="true"><i class="icon-wmkCaretDown"></i></span>
  </div>
</label>
  <div *ngIf="errorMessage.length > 0" id="divCountyError" aria-hidden="true" class="help-block with-errors" style="display: block;">
    <span class="icon-warning" aria-hidden="true"></span>
    <span id="spnCountyError">{{ errorMessage }}</span>
  </div>