<div *ngIf="errors && errors != 0" class="row" >
    <div class="errors with-errors" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="errors-focus" tabindex="-1">
            <div id="divError" class="h4" tabindex="-1">Please correct the following error(s):</div>
            <div class="list-unstyled">
                <ul>
                    <li *ngFor="let error of errors">
                        <p (keyup.enter)='sendToParent(error.fieldName)' (click)='sendToParent(error.fieldName)' [ngClass]="getErrorClass(error.fieldName)" [attr.role]="checkRole(error.fieldName)" [attr.tabindex]="getTabIndex(error.fieldName)">{{error.errorMessage}}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>          