﻿@import "../../../styles/bootstrap/variables";
@import "../../../styles/bootstrap/mixins";
    .error-link {
        font-size: 16px;
        text-decoration: underline;
        cursor: pointer;
        margin-bottom: 0;

        &:focus {
            .tab-focus();
        }
    }

    .error-no-link {
		text-decoration: none !important;
		cursor: default !important;
        &:focus {
            .tab-focus();
        }            
    }

ul {
	margin-top: 10px !important;
	list-style-type: none;
	-webkit-padding-start: 0px !important;
}

.errors {
	border-radius: 4px;
	margin-bottom: 15px;

	.h4 {
		margin-bottom: 0;
		font-size: 16px;
		font-weight: 600;
		text-transform: uppercase;
	}

	.errors-focus {
		color: #fff;
		position: relative;
		padding: 15px 25px 15px 80px;
		border-radius: 5px;
		background: @brand-danger;
		background-clip: padding-box;
	}

	.icon-warning {
		position: absolute;
		top: 50%;
		left: 25px;
		margin-top: -20px;
		font-size: 40px;
	}

	p {
		
		font-size: 16px;
		text-decoration: underline;
		cursor: pointer;
		margin-bottom: 0;

		&:focus {
			.tab-focus();
		}
	}
}



